$brand: #572885;
$gradient-color: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
$text: #454545;
$text-alpha: #6A6A6A;
$border: #F1F1F1;


@import "resMB-about";


@media only screen and (max-width: 1750px) {
 
}
/*-------------------------------------------------------------------- @media 1600px ----------------------------------------------------------------------*/
@media only screen and (max-width: 1601px) {
  
}
@media only screen and (max-width: 1280px) {
 
}
/*-------------------------------------------------------------------- @media 1200px ----------------------------------------------------------------------*/
@media only screen and (max-width: 1201px) {
  
}
/*-------------------------------------------------------------------- @media 950px ----------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
 /* Menu */
 .menu nav ul li {
    padding: 10px 0;
  }
  .menu-mobile {
    position: fixed;
    top: 20px;
    right: 15px;
    i {
      font-size: 20px;
      color: $text-alpha;
      &.ti-close {
        display: none !important;
      }
      &.ti-menu {
        display: block !important;
      }
    }
  }
  .show-menu {
    .menu-mobile {
      i {
        &.ti-close {
          display: block !important;
        }
        &.ti-menu {
          display: none !important;
        }
      }
    }

    nav {
      display: inline-block !important;
    }
  }
  header {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 9999;
    .logo img {
      height: 25px;
    }
    nav {
      display: none !important;
      position: fixed;
      left: 0;
      top: 50px;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255);
      box-shadow: inset 17px -14px 20px 0px rgba(0, 0, 0, 0.04);
      border-top: 0;
      padding: 0 !important;
      scroll-behavior: smooth;
      transition: all 0.2s ease-in-out;

      ul {
        display: inline-block !important;
        width: 100%;
        li {
          width: 100%;
          a {
            width: 100%;
            display: inline-block;
            font-size: 16px !important;
          }
        }
      }
    }
    .menu nav ul li:hover ul {
      position: relative;
      top: 10px !important;
      width: 100% !important;
      box-shadow: none;
      border-radius: 0;
      background: #046e4508;
    }
    .menu nav ul > li > a::before {
      font-size: 16px;
      right: 15px;
      top: 0px;
    }
  }

  .content-head {
    padding-right: 80px;
  }

  /* Search  */
  .search-head input {
    border: 1px solid #e5e5e5;
  }
  .section-slider-home {
    padding-top: 55px;
    .head-slider-home h1 {
      font-size: 32px;
      top: 35px;
      left: 120px;
    }
  }
}
/*-------------------------------------------------------------------- @media 767px ----------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
 
}
