@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

$brand: #572885;
$gradient-color: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
$text: #454545;
$text-alpha: #6A6A6A;
$border: #F1F1F1;


body {
	font-family: 'Inter', sans-serif;
	color: $text;
	font-size: 14px;
	line-height: 1.6;
	max-width: 1920px;
	margin: auto;
}

a {
	text-decoration: none;
	color: $text;
	outline: none;
	-webkit-transition: color .3s ease;
	transition: color 0.3s ease;

	&:hover {
		text-decoration: none;
		color: $brand;
	}
}


* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}

button {
	outline: none;
}

.text-tranform {
	text-transform: uppercase
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

b,
span,
label {
	font-size: 13px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.pl-pr-50 {
	padding: 0 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

section {

	display: inline-block;
	width: 100%;
	padding: 40px 0;
}

input,
textarea {
	&:focus {
		border-color: $brand  !important;
		outline: none;
		box-shadow: none !important;
	}
}

.title-section {
	position: relative;
	text-align: center;
	margin: 20px 0 35px 0;
	display: inline-block;
	width: 100%;

	p {
		color: $text-alpha;
		margin: 20px;
	}

	a {
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
		font-size: 32px;
		color: $text;
	}

	&:hover {
		text-decoration: none;
	}

	.text-logo {
		position: absolute;
		top: -60px;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
}

.btn-link-center {
	width: 100%;
	display: inline-block;
	text-align: center;
}

header {

	.btn-search-mb,
	.close-search,
	.ti-close,
	.ti-menu {
		display: none;
	}
}


.center {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.btn-common {
	display: inline-block;
	background: $gradient-color;
	border-radius: 6px;
	padding: 12px 30px 10px 30px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	transition: all .3s ease-in-out;
	height: 45px;
	text-transform: uppercase;
	text-align: center;

	i {
		margin-left: 10px;
		font-size: 16px;
	}

	&:hover {
		opacity: 0.9;
		color: white;
	}

}

.thumnaisl-avatar {
	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}

ul {
	li {
		list-style: none;
	}
}

/*-------------------------------------------------------- Search-------------------------------------------------*/
.search-head {
	position: relative;
	width: 100%;
	display: inline-block;

	input {
		background: #FFFFFF;
		border: 1px solid #E5E5E5;
		border-radius: 6px;
		height: 40px;
		width: 100%;
		padding-left: 15px;

		&::placeholder {
			color: #DDDDDD;
			font-size: 12px;
		}

		&:focus {
			border: 1px solid $brand;
		}
	}

	i {
		position: absolute;
		right: 0;
		top: 0;
		color: white;
		padding: 13px;
		border-radius: 0 6px 6px 0;
		background-color: $brand;
		font-weight: 700;
	}
}

button:focus {
	outline: 0;
}

/*-------------------------------------------------------- head menu -------------------------------------------------*/
header {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	background: #fff;
	z-index: 9;
	position: relative;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}

.content-head {
	float: right;

	.cart {
		cursor: pointer;
		position: relative;
		text-align: center;
		padding-top: 5px;
		margin-right: 20px;

		span {
			position: absolute;
			right: -10px;
			top: 0px;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background: #C92027;
			color: white;
			font-size: 11px;
			padding-top: 2px;
		}
	}

	.account {
		position: relative;
		margin-left: 10px;
		display: inline-flex;
		align-items: center;

		img {
			width: 45px;
			height: 45px;
		}

		&:hover {
			.dropdown-menu {
				display: block !important;
				top: 27px;
				right: 0;
			}
		}

		.dropdown {
			margin-top: 10px;

			.dropdown-menu {
				border: 1px solid #93939326;
				right: 0;
				left: inherit;
				width: 280px;
				padding: 15px;

				.dropdown-item {
					color: $text;
					font-size: 14px;
					text-transform: none;
					font-weight: normal;
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: 1px solid $border;

					img {
						width: 20px;
						height: 20px;
						margin-right: 5px;
					}

					&:hover {
						background-color: transparent;
					}

					&:last-child {
						border: 1px solid $brand;
					}
				}
			}
		}

		button {
			background: none;
			border: 0;
			color: #c4c4c4;
			font-size: 15px;
			margin-left: 5px;
		}
	}
}

.top-head {
	display: flex;
	justify-content: space-around;

	.right-head {
		display: flex;
		justify-content: space-around;
		margin-left: 30px;
	}
}

.logo {
	float: left;

	img {
		height: 80px;
	}
}

.menu nav>ul {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.menu nav ul>li>a {
	&::before {
		content: "\e64b";
		display: inline-block;
		font-family: 'themify';
		font-size: 12px;
		font-weight: 100;
		position: absolute;
		right: 0;
		top: 3px;
		color: #454545;
		opacity: 0.5;
	}
}

.menu {
	position: relative;
	z-index: 1;

	nav {
		ul {
			padding: 0;

			li {
				position: relative;
				list-style: none;
				padding: 5px 0;
				;

				i {
					display: none;
				}

				a {
					padding: 0 20px;
					position: relative;
					font-size: 16px;
					font-weight: 500;
				}

				ul {
					position: absolute;
					top: 30px;
					padding: 5px 0;
					width: 200px;
					left: 0;
					opacity: 0;
					visibility: hidden;
					background: white;
					box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
					border: 1px solid #93939326;
					border-radius: 6px;
					padding: 0 8px;

					li {
						border-bottom: 1px solid #9ea5a224;
						padding: 5px;
						transition: all 0.3s linear;

						&:last-child {
							border-bottom: 0;
						}

						a {
							display: inline-block;
							width: 100%;
							font-weight: normal;
							padding: 8px 10px;
							font-size: 16px;

							&::before {
								display: none;
							}

							&:hover {
								color: $brand;

							}
						}

					}
				}

				&:hover {
					ul {
						opacity: 1;
						visibility: initial;
					}
				}

				&.active {
					a {
						color: $brand;
					}

					ul {
						li {
							a {
								color: $text;

								&:hover,
								&.active {
									color: $brand  !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

.log-out.btn-common {
	background: white;
	border: 1px solid $brand;
	border-radius: 6px;
	color: $brand  !important;
	padding: 10px;
	height: 40px;
	text-align: center;

}

/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;

	nav {
		padding: 0 !important;
	}

}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}

.owl-theme .owl-nav {
	margin: 0;
}

button.owl-prev {
	position: absolute;
	left: 20px;
	top: 50%;
	width: 50px;
	height: 50px;
	padding: 10px 15px;
	background: url(../images/arrow-left.png) no-repeat center !important;

	span {
		font-size: 80px;
		opacity: 0;

	}

	&:focus {
		outline: none;
	}
}

button.owl-next {
	position: absolute;
	right: 20px;
	top: 50%;
	width: 50px;
	height: 50px;
	padding: 10px 15px;
	background: url(../images/arrow-right.png) no-repeat center !important;

	span {
		font-size: 80px;
		opacity: 0;
	}

	&:focus {
		outline: none;
	}
}

.owl-dots {
	display: block;
	bottom: 30px;
	z-index: 1;
	position: relative;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
	display: block;
}

.owl-theme .owl-dots .owl-dot span {
	border: 1px solid #9e9e9e;
	background: none;
	opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot.active span {
	border: 0;
	background: #9e9e9e;
}

.breadcrumbs {
	padding: 20px 0 5px 0;

	i {
		color: $text-alpha;
	}

	a {
		color: $text-alpha;
		font-size: 13px;
	}
}

.flex-center {
	display: flex;
	height: 100%;
	align-items: center;
}

/*-------------------------------------------------------- Slider homepage -------------------------------------------------*/
.section-slider-home {
	padding-bottom: 60px;
	padding-top: 0;


	.banner-home-mb {
		display: none !important;
	}
}

.head-slider-home {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;

	h1 {
		z-index: 9;
		color: #056E45;
		position: absolute;
		top: 110px;
		left: 190px;
	}

	.content-slider {
		.img-slider {
			cursor: pointer;
		}

	}
}


/*-------------------------------------------------------- Slider nhan hang-------------------------------------------------*/
.section-nhan-hang {
	.slider-nhan-hang {
		padding: 0 50px;
	}
}

/*-------------------------------------------------------- Section product -------------------------------------------------*/
.list-product {
	img {
		border-radius: 12px;
	}

	.banner-vertical.thumnaisl-avatar {
		a {
			padding-top: 233%;
		}
	}

	.item-product {
		margin-bottom: 30px;
		position: relative;

		&:hover {
			transform: scale(1.02);
			transition: .3s ease-in-out;
		}

		.thumnaisl-avatar {
			a {
				padding-top: 102%;
			}
		}

		.percent-sale {
			background: #BFA145;
			border-radius: 20px;
			padding: 3px 8px;
			color: white;
			position: absolute;
			top: 15px;
			left: 15px;
		}

		.info-product {
			text-align: center;
			display: inline-block;
			width: 100%;
			padding: 20px 30px 10px 30px;

			.product-name {
				text-transform: capitalize;
				font-weight: 600;
				font-size: 16px;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.price {
				display: inline-block;
				width: 100%;

				.new-price {
					color: $brand;
					font-size: 16px;
					font-weight: 700;
					margin-right: 15px;
				}

				.old-price {
					color: $text-alpha;
					text-decoration: line-through;
					opacity: 0.5;
					margin-right: 15px;
					font-size: 15px;
				}

				.cart-quantity {
					color: $text-alpha;
					font-size: 15px;

					img {
						margin-right: 5px;
						width: 25px;
					}
				}
			}
		}
	}
}

.pattern {
	position: absolute;
	top: -150px;
	right: 0;
	max-width: 200px;
}

.pattern-flower {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 200px;
}

.section-product {
	position: relative;
	padding: 50px;

	.banner-vertical.thumnaisl-avatar {
		img {
			border: 1px solid #E5E5E5;
		}

	}

}

/*--------------------------------------------------------  banner horizontal -------------------------------------------------*/
.banner-horizontal {
	padding: 25px 0;
	margin: 20px 0 120px 0px;

	.bg {
		min-height: 365px;
		width: 100%;
	}

}

.banner-horizontal.banner-position-left {
	.product-promotion {
		justify-content: right;
		padding-left: 70px;

		.col-avatar-promo {
			left: 0;

			.box-thumnails-pro .img-small {
				right: -35px;
				left: inherit;
			}
		}
	}
}

.product-promotion {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}

.col-infor-promo {
	display: inline-block;
	text-align: left;
	color: white;
	max-width: 60%;
	width: 60%;
	padding: 40px;

	h3 {
		font-size: 42px;
		font-weight: 600;

		a {
			color: white;
		}
	}

	p {
		font-size: 18px;
		padding-right: 100px;
		margin-bottom: 30px;
	}

}

.product-promotion {
	position: relative;

	.col-avatar-promo {
		position: absolute;
		max-width: 40%;
		width: 40%;
		top: -65px;
		right: 0;

		img {
			border-radius: 12px;
		}

		.box-thumnails-pro {
			position: relative;
			width: 100%;
			display: inline-block;

			.img-lagre {
				width: 100%;
				display: inline-block;

			}

			.img-small {
				position: absolute;
				left: -160px;
				bottom: -30px;
				width: 280px;
				z-index: 9;

				.thumnaisl-avatar {

					&::before {
						top: 15px;
						left: 15px;

					}
				}

			}

			.thumnaisl-avatar {
				a {
					padding-top: 95%;
				}

				&::before {
					content: "";
					position: absolute;
					width: 90%;
					height: 90%;
					left: 24px;
					top: 18px;
					opacity: 0.35;
					border: 10px solid #FFFFFF;
					border-radius: 12px;
					z-index: 1;
				}
			}
		}
	}

}

/*--------------------------------------------------------  Section san pham ban chay-------------------------------------------------*/
.section-sp-ban-chay {
	background-color: #F8FAFB;
}

/*--------------------------------------------------------  Section san pham cao cap-------------------------------------------------*/
.sp-cao-cap {
	padding-bottom: 70px;

	.pattern {
		left: 0;
		right: inherit;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
}

/*--------------------------------------------------------  Section san pham theo cong dung-------------------------------------------------*/
.sp-theo-cong-dung {
	padding-top: 90px;
	background: linear-gradient(93.04deg, #3E0256 -8.73%, #7E12A4 18%, #7E12A4 82.76%, #572885 96.6%);

	.title-section {
		background: linear-gradient(164.86deg, #F3CD62 -0.39%, #EFCB82 67.41%, #CDA11F 87.01%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}

	.pattern {
		top: -5px;
		opacity: 0.1;
	}

	.content {
		text-align: center;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
		margin: 20px 0;

		img {

			max-width: 70px;
			margin-bottom: 10px;

		}

		h5 {
			background: linear-gradient(164.86deg, #F3CD62 -0.39%, #EFCB82 67.41%, #CDA11F 87.01%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-size: 16px;
			font-weight: 600;
		}

		.list-tags-sp {
			.tags-sp {
				color: white;
				margin: 10px 5px;
				border-right: solid 1px;
				padding-right: 10px;
				display: inline-block;
				text-align: center;

			}
		}

	}

}

.box-news {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;

	.thumnaisl-avatar {
		img {
			border-radius: 12px;
		}
	}
}

.title-news.lager a {
	font-size: 24px;

}

.infor-news {
	display: inline-block;
	width: 100%;

	.cate-name h6 a {
		text-transform: uppercase;
		color: $brand;
		font-size: 12px;

	}

}

.title-news {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700;
}

.item-news-right {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;

	img {
		border-radius: 12px;
	}

}

.time-date {
	span {
		color: #8C8C8C;
		font-size: 13px;
	}
}

/* --------------------------- He thong cua hang ------------------------------- */
.he-thong-cua-hang {
	.title-section {
		margin-bottom: 25px;

		p {
			margin-bottom: 0;
		}
	}
}

.box-store {
	background: #FFFFFF;
	box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
	border-radius: 12px;
	padding: 20px 20px 20px 10px;

	i {
		font-size: 18px;
		margin-right: 5px;
	}

	.addr {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		padding-right: 20px;
		position: relative;
	}

	.link-maps {
		position: absolute;
		right: 0;
		top: 0;
	}

	iframe {
		width: 100%;
		height: 100%;
		border-radius: 12px;
	}

	.list_mapstore {
		margin-bottom: 0;

		h4 {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 13px;
		}
	}

	.item-location {
		background: #FFFFFF;
		box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
		border-radius: 6px;
		padding: 25px;
		margin: 15px 0;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid $brand;
			cursor: pointer;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.select_liststore {
	display: flex;
	justify-content: center;

	.form-group {
		width: 150px;
		margin-right: 10px;
		margin-bottom: 0;

	}

	.btn-common {
		font-size: 14px;
		text-transform: inherit;
		padding: 10px;
		height: 40px;
	}
}

/* --------------------------------------------- Page danh muc san pham ---------------------------------------------- */
.page-danh-muc-sp {
	.section-nhan-hang {
		padding-top: 30px;
		padding-bottom: 10px;

		.btn-gt-nhan-hang {
			background: transparent;
			color: $brand;
			font-size: 16px;
			text-align: left;
			padding-left: 0;
			text-transform: inherit;
		}
	}

	.list {
		display: inline-block;
		width: 100%;

		.thumnaisl-avatar {
			float: left;
			width: 110px;
			border: 1px solid transparent;
			margin: 0 5px 10px 0;

			a {
				padding-top: 70%;

			}

			&:hover,
			&.active {
				border: 1px solid $brand;
				border-radius: 6px;
				overflow: hidden;
			}
		}
	}

	.list-product {
		padding-top: 0;

		.title-section {
			text-align: left;
		}
	}

	.banner-horizontal {
		margin: 20px 0;

		.col-infor-promo {
			h3 {
				a {
					color: $text;
				}
			}

			color: $text;
		}
	}
}

.total-product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid $border;
	border-left: 0;
	border-right: 0;
	padding: 15px 0;

	p {
		margin-bottom: 0;
	}

	.custom-select.filter-sort {
		max-width: 150px;
		text-align: center;
		border-color: $brand;
		padding-left: 0;
		padding-right: 0;

		.select-items div,
		.select-selected {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			color: $brand;
			padding-right: 15px;

		}

		.select-selected:after {
			color: $brand;
		}
	}
}

/* --------------------------------------------- Footer ------------------------------------------------------------- */
footer {
	padding-bottom: 0;
	background-color: #F8FAFB;
	color: $text-alpha;

	.logo-footer {
		max-width: 162px;
	}

	.copy-right {
		text-align: center;
		padding-top: 10px;
		border-top: 1px solid #e5e5e56b;
	}

	.main-footer {
		padding: 30px 50px 4px 50px;
		display: flex;
		align-items: flex-start;
		justify-content: space-around;

		.social {
			display: flex;
			align-items: center;

			a {
				margin-right: 15px;

				i {
					color: $text-alpha;
					font-size: 18px;
				}

				img {
					width: 100px;
				}
			}
		}

		.download-app {
			img {
				max-width: 120px;
				height: 40px;
			}
		}

		.info-footer {
			p {
				color: $text;
			}

			.title-ft {
				font-size: 16px;
				font-weight: 700;
			}

			ul {
				li {
					margin: 15px 0;

					img {
						margin-right: 10px;
						width: 16px;
					}
				}
			}
		}
	}
}

.head-footer {
	background: $gradient-color;

	img {
		width: 45px;
		height: 45px;
	}

	.item-head-footer {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
		padding-right: 20px;
	}

	.text-head-ft {
		text-align: left;
		color: white;

		a {
			color: white;
		}

		h6 {
			background: linear-gradient(89.72deg, #D6B75E 0.24%, #E9D267 75.75%, #C9AE24 99.76%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-weight: 600;
			font-size: 16px;
		}

		img {
			width: 32px;
			height: 32px;
		}
	}
}

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;

				&.active {
					border: 1px solid $brand  !important;
					color: $brand;
					background-color: white;
					padding-top: 5px;
				}
			}

			&:hover {
				a {
					color: $brand;
				}
			}
		}
	}
}

/* --------------------------- Page detail product ------------------------------- */
.product-quantity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #E4E9EC;
	height: 55px;
	border-radius: 6px;
	width: 180px;
	padding: 0 20px;

	.plus,
	.minus {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}

	span {
		font-size: 22px;
		cursor: pointer;
		color: #5F5F5F;
	}

	input {
		width: 60px;
		text-align: center;
		font-size: 20px;
		border: 0;
		border-radius: 0;
		display: inline-block;
		vertical-align: middle;
	}
}

.number-buy {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 10px 0;
	margin-bottom: 15px;

	.add-to-cart {
		margin-left: 10px;

		.btn-common {
			height: 55px;
		}

		img {
			width: 30px;
			margin-right: 5px;
		}
	}
}

.affiliate {
	background: #FFFF;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
	border-radius: 6px;
	padding: 18px;
	display: inline-block;
	width: 100%;

	p {
		font-size: 15px;
		color: #8939A5;
		margin: 10px 0;
	}

	h5 {
		background: linear-gradient(93.04deg, #3E0256 -8.73%, #7E12A4 18%, #7E12A4 82.76%, #572885 96.6%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.title-affiliate {
		display: flex;
		justify-content: space-between;
	}

	.share-affiliate {

		a {
			background: #F3F3F3;
			padding: 10px;
			border-radius: 50%;
			margin-left: 5px;

			i {
				font-size: 16px;
				color: $brand;
			}
		}

	}

	.product-affiliate {
		display: flex;
		align-items: center;

		img {
			width: 50px;
			border-radius: 6px;
			margin-right: 8px;
			border: 1px solid $border;
		}

		p {
			font-size: 16px;
			color: $text;
		}
	}
}

.slider-product-detail {
	.item {
		margin-bottom: 60px;
	}

	.lSAction>a {
		background-image: url(../images/controls.png);
	}

	.lSSlideOuter {
		img {
			border-radius: 6px;
			border: 1px solid $border;
		}
	}

	.lSPager.lSGallery {
		margin: 0 auto;
	}

	.lSSlideOuter .lSPager.lSGallery img {
		height: 65px;
	}
}

.infor-product-detail {
	.product-name {
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	ul li {
		font-size: 16px;
		list-style: disc;
	}

}

.page-detail {
	.price {
		display: inline-block;
		width: 100%;

		.new-price {
			color: $brand;
			font-weight: 700;
			font-size: 26px;
			margin-right: 15px
		}

		.old-price {
			color: $text;
			opacity: 0.5;
			font-size: 18px;
			text-decoration: line-through;
			margin-right: 15px;
		}
	}
}

.btn-brochure {
	background: linear-gradient(89.72deg, #E4BB44 0.24%, #EED355 58.29%, #E4BB44 99.76%);
	border-radius: 6px;
	width: 100%;
	display: inline-block;
	height: 55px;
	padding-top: 17px;

}

.btn-ladingpage {
	background: linear-gradient(85.44deg, #3E0256 -26.54%, #CEA322 81.47%, #8855BA 106.39%);
	border-radius: 6px;
	width: 100%;
	display: inline-block;
	height: 55px;
	padding-top: 17px;

}


.sticky-cart-product {
	display: none;
}

.show-sticky-cart-product {
	background: #FFFFFF;
	box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
	padding: 20px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;

	&.sticky-cart-product {
		display: block;
	}

	.box-sticky {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.number-buy {
		justify-content: flex-start;
		width: inherit;

		.product-quantity {
			margin-right: 10px;
		}
	}

	.price {
		width: inherit;
		position: absolute;
		left: 90px;
		bottom: 0;

		.new-price {
			font-size: 20px;
		}
	}

	.ava-product {
		display: flex;
		align-items: center;
		position: relative;
		margin-right: 50px;

		p {
			font-size: 18px;
		}

		img {
			width: 80px;
			border-radius: 6px;
			margin-right: 8px;
			border: 1px solid #F1F1F1;
		}
	}
}

.content-description {

	li {
		list-style: disc;
		margin: 10px 0;
	}
}

.section-gallery {
	.thumnaisl-avatar {
		position: relative;
	}

	.btn-play-vid {
		position: absolute;
		top: 10px;
		left: 10px;
		max-width: 40px;
		cursor: pointer;
	}
}

.content-popup-gallery {
	position: relative;
	z-index: 99;
	width: 100%;
	max-width: 900px;

}

/* ----------------- Popup show full galleryl-----------------*/
.popup-gallery {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	z-index: 9999;
	display: none;
	align-items: center;

	img {
		display: inline-block;
		width: 100%;
		border-radius: 12px;
	}

	&.show {
		display: flex !important;
	}

	.close-popup {
		position: absolute;
		right: 15px;
		top: 15px;
		outline: none;
		box-shadow: none;
		z-index: 99;
		background: none;
		border: 0;

		i {
			color: white;
			width: 34px;
			display: inline-block;
			height: 34px;
			border-radius: 50%;
			background: $brand;
			text-align: center;
			padding-top: 10px;
		}
	}

	&::before {

		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		content: '';
		display: inline-block;
		background: #000;
		z-index: 1;
		opacity: .95;
	}
}


/* ----------------- Section feedback tu chuyen gia-----------------*/
.section-feeback-detail {
	background-color: #FBF4FE;
	padding-top: 70px;

	.content-feedback {
		position: relative;
		height: 100%;
		display: flex;
		align-items: flex-start;

		.col-avatar-feedback {
			//position: absolute;
			max-width: 40%;
			width: 40%;
			top: -65px;
			right: 0;

			.box-thumnails {
				position: relative;
				width: 100%;
				display: inline-block;

				.img-lagre {
					width: 100%;
					display: inline-block;

					.thumnaisl-avatar a {
						padding-top: 95%;
					}
				}

				.img-small {
					position: absolute;
					right: 0;
					top: 100px;
					width: 200px;
					z-index: 9;
					margin: 0 auto;
					left: 0;

					.thumnaisl-avatar a {
						padding-top: 100%;

						img {
							border: 5px solid rgba(255, 255, 255, 0.61);
							border-radius: 50%;
						}
					}
				}
			}
		}

		.col-info-feedback {
			display: inline-block;
			text-align: left;
			color: white;
			max-width: 60%;
			width: 60%;
			padding: 40px;

			.bg-text-feeback {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				margin: 0 auto;
				z-index: -1;
			}

			.name-feedback {
				position: relative;
				text-align: center;
				margin: 20px 0 35px 0;
				display: inline-block;
				width: 100%;

				h2 {
					font-family: 'Noteworthy', sans-serif;

					.positons {
						font-size: 14px;
						color: $brand;
						font-weight: 500;
					}

					.name {
						font-size: 24px;
						font-weight: 700;
						color: $brand;
					}
				}
			}

		}
	}

	.detail-feedback {
		position: relative;

		.icon-quote {
			position: absolute;
			left: 0;
			top: 0;
			max-width: 30px;
		}

		p {
			padding: 0 40px;
			font-size: 15px;
			color: $text;
			text-align: center;
			line-height: 1.8;
		}
	}

}

/* ----------------- Page cart-----------------*/
.page-cart {
	.title-section {
		text-align: left;
	}

	.continue-buy {
		font-size: 16px;
		display: inline-block;
		width: 100%;
		color: $brand;

		i {
			margin-right: 10px;
		}
	}
}

.box-shadow {
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	padding: 20px;
}

.cart-total {
	.info-cus {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}

	.btn-edit-cus {
		background: #FFFFFF;
		border: 1px solid #BFA145;
		box-sizing: border-box;
		border-radius: 4px;
		color: #BFA145;
		padding: 5px 18px;
		font-weight: normal;
		margin-left: 30px;
	}


	.border-line {
		border-top: 1px solid $border;
		margin: 25px 0;
	}

	.check-out {
		a {
			display: inline-block;
			width: 100%;
		}
	}
}

.shop-total {
	padding: 15px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		font-size: 14px;
	}

	.total-amount {
		font-size: 20px;
		color: $brand;
		font-weight: 600;
	}

	.price-tam-tinh {
		font-weight: 600;
	}

}

.table-cart-product {
	font-size: 14px;

	thead {
		th {
			color: $text;
			border-bottom: 1px solid#CFCFCF;
			padding: 10px;
			white-space: nowrap;
			font-weight: 600;
		}
	}

	.product-quantity {
		height: 42px;
		width: 135px;

		input {
			font-size: 16px;
		}
	}

	td.product-remove {
		width: 20px;
		padding: 0;
		cursor: pointer;
	}

	tbody {
		td {
			padding: 20px;
		}

		tr {
			border-bottom: 1px solid #F1F1F1;
		}

		.new-price {
			text-align: right;
		}

		.old-price {
			opacity: 0.6;
			text-decoration: line-through;
			text-align: right;
		}

		.total-price {
			font-weight: 600;
			text-align: right;
		}
	}
}

.add_address {
	a {
		color: $brand;

		i {
			margin-right: 10px;
		}
	}
}

.show-add-address {
	background: #F0F5FA;
	border-radius: 6px;
	padding: 15px;
}

.success-page {

	.title-section {
		text-align: center;

		.icon-cart-success {
			text-align: center;
			max-width: 100px;
		}
	}


	.shop-total {
		justify-content: flex-end;

		.total-amount {
			margin-left: 150px;
		}
	}

	.box-shadow {
		max-width: 700px;
		margin: 0 auto;

		.info-cus {
			margin-top: 10px;

			p {
				margin-top: 10px;
			}
		}
	}

	.continue-buy {
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	.box-shadow {
		padding: 20px 20px 5px 20px;
	}
}

.product-thumbnail {
	display: flex;
	align-items: flex-start;

	.so-luong-product {
		font-size: 14px;
		margin-right: 10px;
		color: #5E6769;

		i {
			font-size: 12px;
		}
	}

	.product-name {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	img {
		max-width: 70px;
		border: 1px solid $border;
		border-radius: 6px;
		margin-right: 10px;
	}
}

.tittle-box-cart {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}

.payment-success {
	margin-bottom: 30px !important;

}

.border-box-success {
	border-bottom: 1px dashed #E7E7E7;

	.cart-area {
		border-bottom: 1px solid #e5e5e5;
		padding: 25px 0;

		.pro-details {
			display: flex;
			justify-content: space-between;

		}

		&:last-child {
			border-bottom: 0 !important;
		}
	}

}

.has-cart {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
}

.status-order {
	display: flex;
	align-items: center;

	.shipper {
		color: $brand;
		margin-right: 30px;

		img {
			margin-right: 10px;
		}

	}

	.btn_status {
		color: $brand;
		border: 1px solid $brand;
		border-radius: 6px;
		padding: 5px 10px;
		margin-right: 5px;
	}

	.shop-total {
		position: absolute;
		right: 15px;

		.total-amount {
			margin-left: 30px;
		}
	}
}

.head-order-detail {
	max-width: 700px;
	margin: 25px auto;

	.title-order-details {

		a,
		span {
			font-size: 16px;
		}
	}

	.shipper {
		text-align: right;
	}

	.id-order-details {
		color: $brand;
		font-weight: 600;
	}
}

/*-------------------- Page -profile -------------------------*/
.info-profile {
	display: flex;
	justify-content: center;
	position: relative;

	.ava-profile {
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 50%;
		border: 1px solid $border;
		max-width: 100px;
		margin-right: 10px;

	}

	.title-profile {
		position: relative;
		padding-left: 115px;

		h2 {
			font-size: 32px;
			font-weight: 600;
		}

		a {
			font-size: 13px;
			color: $text-alpha;
			text-decoration: underline;
		}
	}

}

.tabs-info {
	.nav {
		justify-content: center;

	}

	.nav-tabs .nav-link {
		border: none;
		text-transform: uppercase;
		font-size: 16px;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		color: $brand;
		background-color: #fff;
		border-bottom: 2px solid $brand;
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;
	}

	.tab-content {
		label {
			color: #8F9394;
		}

		input,
		select,
		.custom-select {
			font-size: 14px;
			background-color: #fff;
			border: 1px solid #E5E5E5;
			border-radius: 6px;
			height: 40px;
		}

		.btn-common {
			padding: 15px 50px;
		}

		.empty-cart {
			text-align: center;

			img {
				max-width: 250px;
				opacity: 0.3;
				margin-bottom: 20px;
			}

			p {
				font-size: 16px;
			}
		}


		/*custom_checkcart*/

		.custom_checkcart {
			margin-top: 30px;
			margin-bottom: 20px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}

		.custom_checkcart .input-custom:checked+.label-custom::before {
			color: $brand;
			background-color: transparent;
			border: 1.5px solid $brand;
		}

		.custom_checkcart .input-custom {
			display: none;
		}

		.custom_checkcart .label-custom {
			margin-left: 50px;
			white-space: nowrap;
			color: #222;
			display: block;
			position: relative;
			padding-left: 25px;
			cursor: pointer;
			font-weight: 400;
		}

		.custom_checkcart .label-custom:checked {
			color: $brand ;
		}

		.custom_checkcart .label-custom:before {
			content: "\e64c";
			font-family: "themify";
			font-size: 12px;
			color: transparent;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 20px;
			height: 20px;
			border: 1.5px solid #D9D9D9;
			box-sizing: border-box;
			border-radius: 100%;
			left: 0;
			top: 48%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.custom_checkcart .label-custom:checked {
			color: $brand  !important;
		}

	}
}

.login-logout {
	.input-remember {
		display: none;
	}

	input {
		border: 1px solid #E5E5E5;
		border-radius: 0;
		padding: 9px 10px;
		min-height: 45px;
		font-size: 14px;
		font-weight: normal;
		width: 100%;
	}

	.label-remember {
		font-size: 13px;
		color: $text-alpha;
		display: block;
		position: relative;
		padding-left: 26px;
		cursor: pointer;

		&:before {
			content: "\e64c";
			font-family: "themify";
			font-size: 13px;
			color: transparent;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 15px;
			height: 15px;
			border-radius: 3px;
			background: #fff;
			border: 1px solid #e5e5e5;
			border-radius: 0;
			left: 0;
			top: 48%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}

	.input-remember:checked+.label-remember::before {
		color: white;
		background-color: $brand;
		border: 0;
	}

	.forgot-password {
		text-align: center;
		color: $text-alpha;
	}

	.remember-box {
		position: relative;

		.forgot-password {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.btn-common {
		width: 100%;
	}
}

.page-profile {
	.btn-common.send-yc {
		width: 100%;
	}

	.cancel-order {
		color: $text-alpha;
	}
}

.modal {
	top: 100px;

	.modal-title {
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		display: inline-block;
		width: 100%;
		position: relative;
	}

	.modal-dialog {
		max-width: 600px;
	}

	.modal-header {
		border-bottom: 0;
		padding: 0;
	}

	.modal-content {
		border: 0;
		border-radius: 6px;
		padding: 25px;
	}

	.title-order-details {
		text-align: center;
	}

	textarea {
		height: 80px;
	}

	.head-order-detail {
		margin: 0;
	}

	.close {
		position: absolute;
		right: 25px;
		top: 25px;
		font-size: 18px;
		font-weight: normal;
		line-height: 1;
		color: #fff;
		text-shadow: none;
		opacity: 1;
		background: #572885;
		padding: 8px 10px !important;
		border-radius: 50%;
	}

	.close:not(:disabled):not(.disabled):focus,
	.close:not(:disabled):not(.disabled):hover {
		opacity: 1;
	}
}

/* check-radio-custom */

.check-radio-custom {
	margin: 15px 0;
}

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: #222;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #BFA145;
	border-radius: 100%;
	background: #fff;
}

.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: #BFA145;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 10px 0;
}

/* -----------------Custom thanh srcoll-----------------*/

.scrollbar {
	height: 53vh;
	width: 100%;
	margin: auto;
	overflow-y: auto;
	padding: 0 10px;
}

#style-1::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #cbcbcb;
}

#style-1::-webkit-scrollbar {
	width: 1.5px;
	background-color: #ededed;
}

#style-1::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #f7f7f7;
}

/* -----------------Custom select box / input -----------------*/
input,
textarea {
	border-radius: 6px;
	border: 1px solid $border;
	height: 40px;
	padding: 10px;
	background-color: white;
	width: 100%;
}

textarea {
	width: 100%;
}

.custom-select {
	position: relative;
	padding-left: 10px;
	background: #fff;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #E5E5E5;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: #ABABAB;
	top: 10px;
	right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
	padding-top: 3px;
	padding-left: 5px;
}

/* Style items (options): */
.select-items {
	padding: 15px;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: white;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 99;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

.select-items div {
	padding: 10px 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	color: $brand;
}

/* -----------------------------------Page News--------------------------------------------------------------- */
.infor-news {
	.content-title-news{
		.time{
			color: $text-alpha;
			opacity: 0.4;
		}
	}
}
.infor-news{
	.title-news{
		-webkit-line-clamp: 2;
	
	}
}
.section-news-lager{
	padding-bottom: 15px;
	.title-news {
		-webkit-line-clamp: inherit !important;
		a{
			font-size: 32px !important;
			text-transform: uppercase ;
		}
	}
}
.page-news{
	.thumnaisl-avatar img{
		border-radius: 12px;;
	}
	.infor-news{
		.title-news{
			-webkit-line-clamp: 2;
			min-height: 50px;
			a{
				font-size: 16px;
			}
		}
	}
}
.cate-news{
	ul{
		display: flex;
		list-style: none;
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 500px;
		margin: 0 auto;
		border: 1px solid #E4E7EB;
		border-radius: 80px;
		padding: 10px 0;
		li{
			font-size: 14px;
			margin: 0 15px;
			font-weight: 600;
			&.active{
				a{
					color: $brand;
				}
			}
		}
		
	}
}
.detail-left{
	h1{
		font-size: 32px;
		font-weight: 600;
	}
	p{
		text-align: justify;
		line-height: 27px;
	}
	span{
		color: $text-alpha;
		text-align: center;
		margin: 10px 0;
		display: inline-block;
		width: 100%;
	}
	.time-date span{
		text-align: left;
	}
}
.detail-news{
	padding-bottom: 10px;
}
.tags-news{
	span{
		text-align: left;
		color: inherit;
	}
	a{
		color: #BFA145;
		border: 1px solid #BFA145;
		border-radius: 20px;
		padding: 5px 10px;
		font-weight: normal;
		font-size: 13px;
		margin: 3px 5px;
		display: inline-block;
	}
}
.tin-xem-nhieu{
	border: 1px solid $border;
	.item-news-right{
		padding: 0 15px;
		margin-bottom: 0;
		.thumnaisl-avatar{
			img{
				border-radius: 4px;
			}
		}
	}
		.title-detail{
			font-size: 18px;
			background-color: $brand;
			text-transform: uppercase;
			padding: 15px;
			border-radius: 4px 4px 0 0;
			a{
				color: white;
			}
		}
	.title-news{
		font-size: 14px;
		font-weight: normal;
	}
}
.title-detail{
	font-size: 24px;
	font-weight: 600;
}
.page-404{
	text-align: center;
	img{
		max-width: 320px;
	}
	p{
		font-size: 16px;
	}
}
.page-list-store{
	.title-section{
		text-align: left;
	}
}
.page-contact{
	.title-section{
		text-align: left;
	}
	.thong-tin-lien-he{
		display: flex;
		justify-content: center;
		.icon-contact{
			padding-right: 10px;
			img{
				width: 48px;
			}
		}
		.content-hotline{
			display: flex;
		}
		.info{
			span{
				display: inline-block;
				width: 100%;
				color: #A1ADA7;
				font-size: 12px;
			}
			a{
				color: $brand;
				font-weight: 600;
				font-size: 18px !important;
			}
		}
	}
	.form-contact{
		.thumnaisl-avatar{
			a{
				padding-top: 74%;
			}
			img{
				border-radius: 12px;
			}
			&::before {
				content: "";
				position: absolute;
				width: 90%;
				height: 90%;
				left: 24px;
				top: 18px;
				opacity: 0.35;
				border: 10px solid #FFFFFF;
				border-radius: 12px;
				z-index: 1;
			}
		}
		form{
			padding: 30px;
			.center{
				text-align: right;
			}
		}
	}
}
.banner-head-policy{
	img{
		height: 230px;
		width: 100%;
	}
}
/* ---------------------------------------------- page about ----------------------------------------- */
.btn-file-pw{
	background: linear-gradient(89.72deg, #D6B75E 0.24%, #E9D267 75.75%, #C9AE24 99.76%);
	border-radius: 6px;
	padding: 12px 12px 10px 15px;
}
.banner-about{
	.col-infor-promo h3 a, .col-infor-promo p{
		color: $text;
	}
	.col-infor-promo p{
		font-size: 15px;
	}
	.col-infor-promo{
		padding-right: 100px;
	}
	
}

.page-about{
	.banner-horizontal.banner-about{
		margin-bottom: 0;
		padding-bottom: 0;
		margin-top: 0;
	}
	.col-infor-promo h3 {
		line-height: 1.3;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.linh-vuc-hd{
		position: relative;
		background-color: #F8FBFE;
		padding-top: 160px;
		h3{
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		p{
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
		}
		.pattern{
			top: 0;
		}
	}
}

.item-lv{
	background-color: white;
	box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
	border-radius: 12px;
	padding: 30px 20px;
	text-align: center;
	margin: 15px 0;
	&:hover{
		background: rgba(219, 174, 39, 0.13);
		cursor: pointer;
	}
	.info-lv{
		margin-top: 30px;
	}
	h3{
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 600;
	}
	.thumnaisl-avatar{
		max-width: 200px;
    	margin: 0 auto;
		a{
			padding-top: 100%;
			img{
				border: 1px solid #E4EBF1;
				border-radius: 50%;
			}
		}
	}
}
.section-gallery{
	.thumnaisl-avatar{
		a{
			padding-top: 80%;
		}
	}
}

.section-nhan-hang-noibat{
	.ds-nhan-hang{
		padding: 60px;
		padding-bottom:0;
		.thumnaisl-avatar{
			&:hover{
				border: 1px solid $brand;
			}
		}
	}
	.list-second{
		.thumnaisl-avatar{
			a{
				padding-top: 52%;
			}
		}
	}
	.thumnaisl-avatar.thum-larger{
		width: 100%;
		a{
			padding-top: 65%;
		}
	}
	.thumnaisl-avatar{
		float: left;
		width: 100%;
		border: 1px solid $border;
		margin: 0 0 25px 0;
		border-radius: 6px;
		overflow: hidden;
		a{
			padding-top: 40%;
		}
	}
}
.sp-noibat-page-about{
	padding-top: 90px;
	.list-product .item-product .info-product .product-name{
		text-transform: uppercase !important;
		margin-top: 10px;
	}
	.item-product{
		text-align: center;
		.info-product{
			p{
				color: $text-alpha;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		.id-products{
			color: #BFA145;
			text-transform: uppercase;
		}
		
		.btn-common{
			border: 1px solid $brand;
			background: white;
			color: $brand;
		}
	}
}
/* ---------------------------------------------- page borchure----------------------------------------- */
.info-head-brochure{
	margin-top: 15px;
	min-height: 400px;
    display: flex;
    height: 100%;
    align-items: center;
	.flexs{
		display: flex;
	}
	.avatar-nhan-hang{
		background-color: white;
		border: 1px solid #DBAE27;
		padding: 10px;
		position: relative;
		width: 200px;
		height: 200px;
		border-radius: 100%;
		a{
			display: flex;
			width: 180px;
			position: absolute;
			top: 22%;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 15px;
		}
	}
	.info-nhan-hang{
		color: white;
		padding-left: 25px;
		padding-right: 10px;
		width: 50%;
		p{
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		.title-section{
			text-align: left;
			margin-bottom: 0;
			 a{
				 color: white;
				 font-size: 30px;
				 display: -webkit-box;
				 -webkit-line-clamp: 2;
				 -webkit-box-orient: vertical;
				 overflow: hidden;
			 }
		}
		.btn-common{
			margin: 5px;
		}
		.btn-catalogue{
			background: linear-gradient(85.44deg, #3E0256 -26.54%, #CEA322 81.47%, #8855BA 106.39%);
		}
	}
	
}
.list-social{
	background-color: #F9F7F3;
	position: relative;
	padding: 130px 0;
	.top-social{
		margin-bottom: -155px;
	}
	.pattern {
		left: 0;
		top: 0;
		right: inherit;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	.box-social{
		background: #FFFFFF;
		border: 1px dashed #E5E5E5;
		box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
		border-radius: 12px;
		padding: 30px;
		margin: 0 10px;
		display: flex;
		align-items: center;
    	width: 100%;
		.info-social{
			position: relative;
			padding-left: 20px;
			display: inline-block;
    		width: 100%;
			h3{
				font-size: 20px;
			}
			p{
				margin-bottom: 0;
				display: inline-block;
				width: 100%;
				a{
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}
		}
		.social-nhan-hang{
			width: 55px;
			height: 55px;
			margin-left: -54px;
			background-color: #F7EDFB;
			border-radius: 10px;
			padding: 10px;
			padding-top: 10px;
			text-align: center;
			img{
				width: 45px;
			}
		}
	}
}
.page-brochure, .ovan-online{
	.banner-horizontal {
		margin: 20px 0 0 0px;
	}
}
.page-brochure-detail{
	
	.section-gallery{
		margin-top: 100px;
		position: relative;
	}
	.sp-noibat-page-about{
		padding: 50px;
    	padding-top: 100px;
	}
}
/* ---------------------------------------------- page ovan online ----------------------------------------- */
.ovan-online{
	.col-infor-promo h3{
		a{
			color: white;
		}
	}
	.col-infor-promo p {
		color: white;
	}
	.product-promotion{
		justify-content: flex-end;
		padding-left: 20px;
		.col-avatar-promo{
			left: 0;
			p{
				padding-right: 0;
				
			}
		}
	}
	.product-promotion .col-avatar-promo .box-thumnails-pro .img-small{
		right: -35px;
    	left: inherit;
	}
}
.col-infor-promo p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.col-infor-promo h3 {
	font-size: 32px !important;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.ovan-online{
	.banner-horizontal.banner-about{
		padding-bottom: 0;
	}
	.section-website{
		background-color: #F9F7F3;
		padding-top: 100px;
		position: relative;
		.info-web{
			text-align: center;
			border: 1px dashed transparent;
			padding: 15px 20px;
			margin: 10px 0;
			&:hover{
				cursor: pointer;
				border: 1px dashed $brand;
				border-radius: 10px;
			}
			p{
				font-size: 18px;
				color: $text-alpha;
				padding-top: 30px;
				margin-bottom: 0;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			.line-flower{
				max-width: 180px;
				position: absolute;
				top: 85px;
				right: 0;
				left: 0;
				margin: 0 auto;
			}
			span{
				display: inline-block;
				width: 100%;
				padding-top: 10px;
				position: relative;
				a{
					font-size: 20px;
					font-weight: 600;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}
			a{
				font-size: 14px;
				display: inline-block;
				background: transparent;
				color: $brand;
				img{
					max-width: 65px;
					
				}
				
			}
			.btn-common{
				margin-top: 14px;
			}
		}
		.pattern{
			top: 0;
			right: 0;
		}
		.pattern-flower{
			left: 0;
			bottom: 0;
			top: inherit;
		}
	}
	.list-social{
		background-color: white;
		.box-social {
			border: 1px dashed #E5E5E5;
			box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
			&:hover{
				cursor: pointer;
				border: 1px dashed $brand;
				border-radius: 10px;
			}
			.social-nhan-hang{
				background-color: transparent;
				top: 45px;
				width: 100px;
				img{
					width: 80px;
				}
			}
		}
		
	}
	.list-social{
		.info-social{
			padding-left: 10px !important;
			p{
				margin-top: 10px;
				a{
					color: $text-alpha;
				}
			}
		}
		.top-social{
			position: inherit;
		}
		&.list-tiktok{
			padding-bottom: 50px;
			.btn-common{
				background: transparent;
				color: $brand;
				text-align: left;
				padding-left: 0;
				&:hover{
					cursor: pointer;
				}
			}
			.center .btn-common{
				background: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
				text-align: center;
				padding: 12px 30px 10px 30px;
				color: white;
				
			}
			.box-social{
				margin: 15px 20px;
			}
			.pattern.pattern-flower{
				left: inherit;
				right: 0;
				bottom: 0;
				top: inherit;
			}
		}
		
	} 
}
.section-youtube{
	.info-web{
		margin: 20px 0 !important;
		background: #FFFFFF;
		box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
		border-radius: 10px;
		padding: 50px 15px !important;
		p{
			padding-top: 10px !important;
		}
		.btn-common{
			background: linear-gradient(89.72deg, #D6B75E 0.24%, #E9D267 75.75%, #C9AE24 99.76%) !important;
			color: white !important;
			margin-top: 18px;
		}
	}
}
.btn-common{
	cursor: pointer;
}
.page-brochure-detail{
	.list-product .banner-vertical.thumnaisl-avatar a {
		padding-top: 255%;
	}
	.list-social{
		padding: 110px 0;
		.box-social{
			min-height: 150px;
		}
	}
}