@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");
body {
  font-family: 'Inter', sans-serif;
  color: #454545;
  font-size: 14px;
  line-height: 1.6;
  max-width: 1920px;
  margin: auto; }

a {
  text-decoration: none;
  color: #454545;
  outline: none;
  -webkit-transition: color .3s ease;
  transition: color 0.3s ease; }
  a:hover {
    text-decoration: none;
    color: #572885; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

button {
  outline: none; }

.text-tranform {
  text-transform: uppercase; }

h1 {
  font-size: 52px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-size: 14px; }

b,
span,
label {
  font-size: 13px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.pl-pr-50 {
  padding: 0 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none; }

section {
  display: inline-block;
  width: 100%;
  padding: 40px 0; }

input:focus,
textarea:focus {
  border-color: #572885 !important;
  outline: none;
  box-shadow: none !important; }

.title-section {
  position: relative;
  text-align: center;
  margin: 20px 0 35px 0;
  display: inline-block;
  width: 100%; }
  .title-section p {
    color: #6A6A6A;
    margin: 20px; }
  .title-section a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #454545; }
  .title-section:hover {
    text-decoration: none; }
  .title-section .text-logo {
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    margin: 0 auto; }

.btn-link-center {
  width: 100%;
  display: inline-block;
  text-align: center; }

header .btn-search-mb,
header .close-search,
header .ti-close,
header .ti-menu {
  display: none; }

.center {
  text-align: center;
  display: inline-block;
  width: 100%; }

.btn-common {
  display: inline-block;
  background: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
  border-radius: 6px;
  padding: 12px 30px 10px 30px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease-in-out;
  height: 45px;
  text-transform: uppercase;
  text-align: center; }
  .btn-common i {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common:hover {
    opacity: 0.9;
    color: white; }

.thumnaisl-avatar a {
  position: relative;
  padding-top: 56%;
  display: block; }
  .thumnaisl-avatar a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

ul li {
  list-style: none; }

/*-------------------------------------------------------- Search-------------------------------------------------*/
.search-head {
  position: relative;
  width: 100%;
  display: inline-block; }
  .search-head input {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    padding-left: 15px; }
    .search-head input::placeholder {
      color: #DDDDDD;
      font-size: 12px; }
    .search-head input:focus {
      border: 1px solid #572885; }
  .search-head i {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 13px;
    border-radius: 0 6px 6px 0;
    background-color: #572885;
    font-weight: 700; }

button:focus {
  outline: 0; }

/*-------------------------------------------------------- head menu -------------------------------------------------*/
header {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  z-index: 9;
  position: relative;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04); }

.content-head {
  float: right; }
  .content-head .cart {
    cursor: pointer;
    position: relative;
    text-align: center;
    padding-top: 5px;
    margin-right: 20px; }
    .content-head .cart span {
      position: absolute;
      right: -10px;
      top: 0px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #C92027;
      color: white;
      font-size: 11px;
      padding-top: 2px; }
  .content-head .account {
    position: relative;
    margin-left: 10px;
    display: inline-flex;
    align-items: center; }
    .content-head .account img {
      width: 45px;
      height: 45px; }
    .content-head .account:hover .dropdown-menu {
      display: block !important;
      top: 27px;
      right: 0; }
    .content-head .account .dropdown {
      margin-top: 10px; }
      .content-head .account .dropdown .dropdown-menu {
        border: 1px solid #93939326;
        right: 0;
        left: inherit;
        width: 280px;
        padding: 15px; }
        .content-head .account .dropdown .dropdown-menu .dropdown-item {
          color: #454545;
          font-size: 14px;
          text-transform: none;
          font-weight: normal;
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid #F1F1F1; }
          .content-head .account .dropdown .dropdown-menu .dropdown-item img {
            width: 20px;
            height: 20px;
            margin-right: 5px; }
          .content-head .account .dropdown .dropdown-menu .dropdown-item:hover {
            background-color: transparent; }
          .content-head .account .dropdown .dropdown-menu .dropdown-item:last-child {
            border: 1px solid #572885; }
    .content-head .account button {
      background: none;
      border: 0;
      color: #c4c4c4;
      font-size: 15px;
      margin-left: 5px; }

.top-head {
  display: flex;
  justify-content: space-around; }
  .top-head .right-head {
    display: flex;
    justify-content: space-around;
    margin-left: 30px; }

.logo {
  float: left; }
  .logo img {
    height: 80px; }

.menu nav > ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0; }

.menu nav ul > li > a::before {
  content: "\e64b";
  display: inline-block;
  font-family: 'themify';
  font-size: 12px;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 3px;
  color: #454545;
  opacity: 0.5; }

.menu {
  position: relative;
  z-index: 1; }
  .menu nav ul {
    padding: 0; }
    .menu nav ul li {
      position: relative;
      list-style: none;
      padding: 5px 0; }
      .menu nav ul li i {
        display: none; }
      .menu nav ul li a {
        padding: 0 20px;
        position: relative;
        font-size: 16px;
        font-weight: 500; }
      .menu nav ul li ul {
        position: absolute;
        top: 30px;
        padding: 5px 0;
        width: 200px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
        border: 1px solid #93939326;
        border-radius: 6px;
        padding: 0 8px; }
        .menu nav ul li ul li {
          border-bottom: 1px solid #9ea5a224;
          padding: 5px;
          transition: all 0.3s linear; }
          .menu nav ul li ul li:last-child {
            border-bottom: 0; }
          .menu nav ul li ul li a {
            display: inline-block;
            width: 100%;
            font-weight: normal;
            padding: 8px 10px;
            font-size: 16px; }
            .menu nav ul li ul li a::before {
              display: none; }
            .menu nav ul li ul li a:hover {
              color: #572885; }
      .menu nav ul li:hover ul {
        opacity: 1;
        visibility: initial; }
      .menu nav ul li.active a {
        color: #572885; }
      .menu nav ul li.active ul li a {
        color: #454545; }
        .menu nav ul li.active ul li a:hover, .menu nav ul li.active ul li a.active {
          color: #572885 !important; }

.log-out.btn-common {
  background: white;
  border: 1px solid #572885;
  border-radius: 6px;
  color: #572885 !important;
  padding: 10px;
  height: 40px;
  text-align: center; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .menu-scroll nav {
    padding: 0 !important; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.owl-theme .owl-nav {
  margin: 0; }

button.owl-prev {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  background: url(../images/arrow-left.png) no-repeat center !important; }
  button.owl-prev span {
    font-size: 80px;
    opacity: 0; }
  button.owl-prev:focus {
    outline: none; }

button.owl-next {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  background: url(../images/arrow-right.png) no-repeat center !important; }
  button.owl-next span {
    font-size: 80px;
    opacity: 0; }
  button.owl-next:focus {
    outline: none; }

.owl-dots {
  display: block;
  bottom: 30px;
  z-index: 1;
  position: relative; }

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block; }

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #9e9e9e;
  background: none;
  opacity: 0.5; }

.owl-theme .owl-dots .owl-dot.active span {
  border: 0;
  background: #9e9e9e; }

.breadcrumbs {
  padding: 20px 0 5px 0; }
  .breadcrumbs i {
    color: #6A6A6A; }
  .breadcrumbs a {
    color: #6A6A6A;
    font-size: 13px; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center; }

/*-------------------------------------------------------- Slider homepage -------------------------------------------------*/
.section-slider-home {
  padding-bottom: 60px;
  padding-top: 0; }
  .section-slider-home .banner-home-mb {
    display: none !important; }

.head-slider-home {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block; }
  .head-slider-home h1 {
    z-index: 9;
    color: #056E45;
    position: absolute;
    top: 110px;
    left: 190px; }
  .head-slider-home .content-slider .img-slider {
    cursor: pointer; }

/*-------------------------------------------------------- Slider nhan hang-------------------------------------------------*/
.section-nhan-hang .slider-nhan-hang {
  padding: 0 50px; }

/*-------------------------------------------------------- Section product -------------------------------------------------*/
.list-product img {
  border-radius: 12px; }
.list-product .banner-vertical.thumnaisl-avatar a {
  padding-top: 233%; }
.list-product .item-product {
  margin-bottom: 30px;
  position: relative; }
  .list-product .item-product:hover {
    transform: scale(1.02);
    transition: .3s ease-in-out; }
  .list-product .item-product .thumnaisl-avatar a {
    padding-top: 102%; }
  .list-product .item-product .percent-sale {
    background: #BFA145;
    border-radius: 20px;
    padding: 3px 8px;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px; }
  .list-product .item-product .info-product {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 20px 30px 10px 30px; }
    .list-product .item-product .info-product .product-name {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .list-product .item-product .info-product .price {
      display: inline-block;
      width: 100%; }
      .list-product .item-product .info-product .price .new-price {
        color: #572885;
        font-size: 16px;
        font-weight: 700;
        margin-right: 15px; }
      .list-product .item-product .info-product .price .old-price {
        color: #6A6A6A;
        text-decoration: line-through;
        opacity: 0.5;
        margin-right: 15px;
        font-size: 15px; }
      .list-product .item-product .info-product .price .cart-quantity {
        color: #6A6A6A;
        font-size: 15px; }
        .list-product .item-product .info-product .price .cart-quantity img {
          margin-right: 5px;
          width: 25px; }

.pattern {
  position: absolute;
  top: -150px;
  right: 0;
  max-width: 200px; }

.pattern-flower {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 200px; }

.section-product {
  position: relative;
  padding: 50px; }
  .section-product .banner-vertical.thumnaisl-avatar img {
    border: 1px solid #E5E5E5; }

/*--------------------------------------------------------  banner horizontal -------------------------------------------------*/
.banner-horizontal {
  padding: 25px 0;
  margin: 20px 0 120px 0px; }
  .banner-horizontal .bg {
    min-height: 365px;
    width: 100%; }

.banner-horizontal.banner-position-left .product-promotion {
  justify-content: right;
  padding-left: 70px; }
  .banner-horizontal.banner-position-left .product-promotion .col-avatar-promo {
    left: 0; }
    .banner-horizontal.banner-position-left .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
      right: -35px;
      left: inherit; }

.product-promotion {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center; }

.col-infor-promo {
  display: inline-block;
  text-align: left;
  color: white;
  max-width: 60%;
  width: 60%;
  padding: 40px; }
  .col-infor-promo h3 {
    font-size: 42px;
    font-weight: 600; }
    .col-infor-promo h3 a {
      color: white; }
  .col-infor-promo p {
    font-size: 18px;
    padding-right: 100px;
    margin-bottom: 30px; }

.product-promotion {
  position: relative; }
  .product-promotion .col-avatar-promo {
    position: absolute;
    max-width: 40%;
    width: 40%;
    top: -65px;
    right: 0; }
    .product-promotion .col-avatar-promo img {
      border-radius: 12px; }
    .product-promotion .col-avatar-promo .box-thumnails-pro {
      position: relative;
      width: 100%;
      display: inline-block; }
      .product-promotion .col-avatar-promo .box-thumnails-pro .img-lagre {
        width: 100%;
        display: inline-block; }
      .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
        position: absolute;
        left: -160px;
        bottom: -30px;
        width: 280px;
        z-index: 9; }
        .product-promotion .col-avatar-promo .box-thumnails-pro .img-small .thumnaisl-avatar::before {
          top: 15px;
          left: 15px; }
      .product-promotion .col-avatar-promo .box-thumnails-pro .thumnaisl-avatar a {
        padding-top: 95%; }
      .product-promotion .col-avatar-promo .box-thumnails-pro .thumnaisl-avatar::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 90%;
        left: 24px;
        top: 18px;
        opacity: 0.35;
        border: 10px solid #FFFFFF;
        border-radius: 12px;
        z-index: 1; }

/*--------------------------------------------------------  Section san pham ban chay-------------------------------------------------*/
.section-sp-ban-chay {
  background-color: #F8FAFB; }

/*--------------------------------------------------------  Section san pham cao cap-------------------------------------------------*/
.sp-cao-cap {
  padding-bottom: 70px; }
  .sp-cao-cap .pattern {
    left: 0;
    right: inherit;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

/*--------------------------------------------------------  Section san pham theo cong dung-------------------------------------------------*/
.sp-theo-cong-dung {
  padding-top: 90px;
  background: linear-gradient(93.04deg, #3E0256 -8.73%, #7E12A4 18%, #7E12A4 82.76%, #572885 96.6%); }
  .sp-theo-cong-dung .title-section {
    background: linear-gradient(164.86deg, #F3CD62 -0.39%, #EFCB82 67.41%, #CDA11F 87.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; }
  .sp-theo-cong-dung .pattern {
    top: -5px;
    opacity: 0.1; }
  .sp-theo-cong-dung .content {
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin: 20px 0; }
    .sp-theo-cong-dung .content img {
      max-width: 70px;
      margin-bottom: 10px; }
    .sp-theo-cong-dung .content h5 {
      background: linear-gradient(164.86deg, #F3CD62 -0.39%, #EFCB82 67.41%, #CDA11F 87.01%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-size: 16px;
      font-weight: 600; }
    .sp-theo-cong-dung .content .list-tags-sp .tags-sp {
      color: white;
      margin: 10px 5px;
      border-right: solid 1px;
      padding-right: 10px;
      display: inline-block;
      text-align: center; }

.box-news {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }
  .box-news .thumnaisl-avatar img {
    border-radius: 12px; }

.title-news.lager a {
  font-size: 24px; }

.infor-news {
  display: inline-block;
  width: 100%; }
  .infor-news .cate-name h6 a {
    text-transform: uppercase;
    color: #572885;
    font-size: 12px; }

.title-news {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700; }

.item-news-right {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px; }
  .item-news-right img {
    border-radius: 12px; }

.time-date span {
  color: #8C8C8C;
  font-size: 13px; }

/* --------------------------- He thong cua hang ------------------------------- */
.he-thong-cua-hang .title-section {
  margin-bottom: 25px; }
  .he-thong-cua-hang .title-section p {
    margin-bottom: 0; }

.box-store {
  background: #FFFFFF;
  box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
  border-radius: 12px;
  padding: 20px 20px 20px 10px; }
  .box-store i {
    font-size: 18px;
    margin-right: 5px; }
  .box-store .addr {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 20px;
    position: relative; }
  .box-store .link-maps {
    position: absolute;
    right: 0;
    top: 0; }
  .box-store iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px; }
  .box-store .list_mapstore {
    margin-bottom: 0; }
    .box-store .list_mapstore h4 {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 13px; }
  .box-store .item-location {
    background: #FFFFFF;
    box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
    border-radius: 6px;
    padding: 25px;
    margin: 15px 0;
    border: 1px solid transparent; }
    .box-store .item-location:hover {
      border: 1px solid #572885;
      cursor: pointer; }
    .box-store .item-location:last-child {
      margin-bottom: 0; }

.select_liststore {
  display: flex;
  justify-content: center; }
  .select_liststore .form-group {
    width: 150px;
    margin-right: 10px;
    margin-bottom: 0; }
  .select_liststore .btn-common {
    font-size: 14px;
    text-transform: inherit;
    padding: 10px;
    height: 40px; }

/* --------------------------------------------- Page danh muc san pham ---------------------------------------------- */
.page-danh-muc-sp .section-nhan-hang {
  padding-top: 30px;
  padding-bottom: 10px; }
  .page-danh-muc-sp .section-nhan-hang .btn-gt-nhan-hang {
    background: transparent;
    color: #572885;
    font-size: 16px;
    text-align: left;
    padding-left: 0;
    text-transform: inherit; }
.page-danh-muc-sp .list {
  display: inline-block;
  width: 100%; }
  .page-danh-muc-sp .list .thumnaisl-avatar {
    float: left;
    width: 110px;
    border: 1px solid transparent;
    margin: 0 5px 10px 0; }
    .page-danh-muc-sp .list .thumnaisl-avatar a {
      padding-top: 70%; }
    .page-danh-muc-sp .list .thumnaisl-avatar:hover, .page-danh-muc-sp .list .thumnaisl-avatar.active {
      border: 1px solid #572885;
      border-radius: 6px;
      overflow: hidden; }
.page-danh-muc-sp .list-product {
  padding-top: 0; }
  .page-danh-muc-sp .list-product .title-section {
    text-align: left; }
.page-danh-muc-sp .banner-horizontal {
  margin: 20px 0; }
  .page-danh-muc-sp .banner-horizontal .col-infor-promo {
    color: #454545; }
    .page-danh-muc-sp .banner-horizontal .col-infor-promo h3 a {
      color: #454545; }

.total-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #F1F1F1;
  border-left: 0;
  border-right: 0;
  padding: 15px 0; }
  .total-product p {
    margin-bottom: 0; }
  .total-product .custom-select.filter-sort {
    max-width: 150px;
    text-align: center;
    border-color: #572885;
    padding-left: 0;
    padding-right: 0; }
    .total-product .custom-select.filter-sort .select-items div,
    .total-product .custom-select.filter-sort .select-selected {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #572885;
      padding-right: 15px; }
    .total-product .custom-select.filter-sort .select-selected:after {
      color: #572885; }

/* --------------------------------------------- Footer ------------------------------------------------------------- */
footer {
  padding-bottom: 0;
  background-color: #F8FAFB;
  color: #6A6A6A; }
  footer .logo-footer {
    max-width: 162px; }
  footer .copy-right {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #e5e5e56b; }
  footer .main-footer {
    padding: 30px 50px 4px 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around; }
    footer .main-footer .social {
      display: flex;
      align-items: center; }
      footer .main-footer .social a {
        margin-right: 15px; }
        footer .main-footer .social a i {
          color: #6A6A6A;
          font-size: 18px; }
        footer .main-footer .social a img {
          width: 100px; }
    footer .main-footer .download-app img {
      max-width: 120px;
      height: 40px; }
    footer .main-footer .info-footer p {
      color: #454545; }
    footer .main-footer .info-footer .title-ft {
      font-size: 16px;
      font-weight: 700; }
    footer .main-footer .info-footer ul li {
      margin: 15px 0; }
      footer .main-footer .info-footer ul li img {
        margin-right: 10px;
        width: 16px; }

.head-footer {
  background: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%); }
  .head-footer img {
    width: 45px;
    height: 45px; }
  .head-footer .item-head-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 20px; }
  .head-footer .text-head-ft {
    text-align: left;
    color: white; }
    .head-footer .text-head-ft a {
      color: white; }
    .head-footer .text-head-ft h6 {
      background: linear-gradient(89.72deg, #D6B75E 0.24%, #E9D267 75.75%, #C9AE24 99.76%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-weight: 600;
      font-size: 16px; }
    .head-footer .text-head-ft img {
      width: 32px;
      height: 32px; }

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #454545;
    padding: 5px; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      border: 1px solid #572885 !important;
      color: #572885;
      background-color: white;
      padding-top: 5px; }
  .pagging-page ul li:hover a {
    color: #572885; }

/* --------------------------- Page detail product ------------------------------- */
.product-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E4E9EC;
  height: 55px;
  border-radius: 6px;
  width: 180px;
  padding: 0 20px; }
  .product-quantity .plus,
  .product-quantity .minus {
    display: inline-block;
    vertical-align: middle;
    text-align: center; }
  .product-quantity span {
    font-size: 22px;
    cursor: pointer;
    color: #5F5F5F; }
  .product-quantity input {
    width: 60px;
    text-align: center;
    font-size: 20px;
    border: 0;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle; }

.number-buy {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 15px; }
  .number-buy .add-to-cart {
    margin-left: 10px; }
    .number-buy .add-to-cart .btn-common {
      height: 55px; }
    .number-buy .add-to-cart img {
      width: 30px;
      margin-right: 5px; }

.affiliate {
  background: #FFFF;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
  border-radius: 6px;
  padding: 18px;
  display: inline-block;
  width: 100%; }
  .affiliate p {
    font-size: 15px;
    color: #8939A5;
    margin: 10px 0; }
  .affiliate h5 {
    background: linear-gradient(93.04deg, #3E0256 -8.73%, #7E12A4 18%, #7E12A4 82.76%, #572885 96.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase; }
  .affiliate .title-affiliate {
    display: flex;
    justify-content: space-between; }
  .affiliate .share-affiliate a {
    background: #F3F3F3;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px; }
    .affiliate .share-affiliate a i {
      font-size: 16px;
      color: #572885; }
  .affiliate .product-affiliate {
    display: flex;
    align-items: center; }
    .affiliate .product-affiliate img {
      width: 50px;
      border-radius: 6px;
      margin-right: 8px;
      border: 1px solid #F1F1F1; }
    .affiliate .product-affiliate p {
      font-size: 16px;
      color: #454545; }

.slider-product-detail .item {
  margin-bottom: 60px; }
.slider-product-detail .lSAction > a {
  background-image: url(../images/controls.png); }
.slider-product-detail .lSSlideOuter img {
  border-radius: 6px;
  border: 1px solid #F1F1F1; }
.slider-product-detail .lSPager.lSGallery {
  margin: 0 auto; }
.slider-product-detail .lSSlideOuter .lSPager.lSGallery img {
  height: 65px; }

.infor-product-detail .product-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px; }
.infor-product-detail ul li {
  font-size: 16px;
  list-style: disc; }

.page-detail .price {
  display: inline-block;
  width: 100%; }
  .page-detail .price .new-price {
    color: #572885;
    font-weight: 700;
    font-size: 26px;
    margin-right: 15px; }
  .page-detail .price .old-price {
    color: #454545;
    opacity: 0.5;
    font-size: 18px;
    text-decoration: line-through;
    margin-right: 15px; }

.btn-brochure {
  background: linear-gradient(89.72deg, #E4BB44 0.24%, #EED355 58.29%, #E4BB44 99.76%);
  border-radius: 6px;
  width: 100%;
  display: inline-block;
  height: 55px;
  padding-top: 17px; }

.btn-ladingpage {
  background: linear-gradient(85.44deg, #3E0256 -26.54%, #CEA322 81.47%, #8855BA 106.39%);
  border-radius: 6px;
  width: 100%;
  display: inline-block;
  height: 55px;
  padding-top: 17px; }

.sticky-cart-product {
  display: none; }

.show-sticky-cart-product {
  background: #FFFFFF;
  box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999; }
  .show-sticky-cart-product.sticky-cart-product {
    display: block; }
  .show-sticky-cart-product .box-sticky {
    display: flex;
    align-items: center;
    justify-content: center; }
  .show-sticky-cart-product .number-buy {
    justify-content: flex-start;
    width: inherit; }
    .show-sticky-cart-product .number-buy .product-quantity {
      margin-right: 10px; }
  .show-sticky-cart-product .price {
    width: inherit;
    position: absolute;
    left: 90px;
    bottom: 0; }
    .show-sticky-cart-product .price .new-price {
      font-size: 20px; }
  .show-sticky-cart-product .ava-product {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 50px; }
    .show-sticky-cart-product .ava-product p {
      font-size: 18px; }
    .show-sticky-cart-product .ava-product img {
      width: 80px;
      border-radius: 6px;
      margin-right: 8px;
      border: 1px solid #F1F1F1; }

.content-description li {
  list-style: disc;
  margin: 10px 0; }

.section-gallery .thumnaisl-avatar {
  position: relative; }
.section-gallery .btn-play-vid {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 40px;
  cursor: pointer; }

.content-popup-gallery {
  position: relative;
  z-index: 99;
  width: 100%;
  max-width: 900px; }

/* ----------------- Popup show full galleryl-----------------*/
.popup-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  display: none;
  align-items: center; }
  .popup-gallery img {
    display: inline-block;
    width: 100%;
    border-radius: 12px; }
  .popup-gallery.show {
    display: flex !important; }
  .popup-gallery .close-popup {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    box-shadow: none;
    z-index: 99;
    background: none;
    border: 0; }
    .popup-gallery .close-popup i {
      color: white;
      width: 34px;
      display: inline-block;
      height: 34px;
      border-radius: 50%;
      background: #572885;
      text-align: center;
      padding-top: 10px; }
  .popup-gallery::before {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    display: inline-block;
    background: #000;
    z-index: 1;
    opacity: .95; }

/* ----------------- Section feedback tu chuyen gia-----------------*/
.section-feeback-detail {
  background-color: #FBF4FE;
  padding-top: 70px; }
  .section-feeback-detail .content-feedback {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-start; }
    .section-feeback-detail .content-feedback .col-avatar-feedback {
      max-width: 40%;
      width: 40%;
      top: -65px;
      right: 0; }
      .section-feeback-detail .content-feedback .col-avatar-feedback .box-thumnails {
        position: relative;
        width: 100%;
        display: inline-block; }
        .section-feeback-detail .content-feedback .col-avatar-feedback .box-thumnails .img-lagre {
          width: 100%;
          display: inline-block; }
          .section-feeback-detail .content-feedback .col-avatar-feedback .box-thumnails .img-lagre .thumnaisl-avatar a {
            padding-top: 95%; }
        .section-feeback-detail .content-feedback .col-avatar-feedback .box-thumnails .img-small {
          position: absolute;
          right: 0;
          top: 100px;
          width: 200px;
          z-index: 9;
          margin: 0 auto;
          left: 0; }
          .section-feeback-detail .content-feedback .col-avatar-feedback .box-thumnails .img-small .thumnaisl-avatar a {
            padding-top: 100%; }
            .section-feeback-detail .content-feedback .col-avatar-feedback .box-thumnails .img-small .thumnaisl-avatar a img {
              border: 5px solid rgba(255, 255, 255, 0.61);
              border-radius: 50%; }
    .section-feeback-detail .content-feedback .col-info-feedback {
      display: inline-block;
      text-align: left;
      color: white;
      max-width: 60%;
      width: 60%;
      padding: 40px; }
      .section-feeback-detail .content-feedback .col-info-feedback .bg-text-feeback {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: -1; }
      .section-feeback-detail .content-feedback .col-info-feedback .name-feedback {
        position: relative;
        text-align: center;
        margin: 20px 0 35px 0;
        display: inline-block;
        width: 100%; }
        .section-feeback-detail .content-feedback .col-info-feedback .name-feedback h2 {
          font-family: 'Noteworthy', sans-serif; }
          .section-feeback-detail .content-feedback .col-info-feedback .name-feedback h2 .positons {
            font-size: 14px;
            color: #572885;
            font-weight: 500; }
          .section-feeback-detail .content-feedback .col-info-feedback .name-feedback h2 .name {
            font-size: 24px;
            font-weight: 700;
            color: #572885; }
  .section-feeback-detail .detail-feedback {
    position: relative; }
    .section-feeback-detail .detail-feedback .icon-quote {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 30px; }
    .section-feeback-detail .detail-feedback p {
      padding: 0 40px;
      font-size: 15px;
      color: #454545;
      text-align: center;
      line-height: 1.8; }

/* ----------------- Page cart-----------------*/
.page-cart .title-section {
  text-align: left; }
.page-cart .continue-buy {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  color: #572885; }
  .page-cart .continue-buy i {
    margin-right: 10px; }

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 20px; }

.cart-total .info-cus {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px; }
.cart-total .btn-edit-cus {
  background: #FFFFFF;
  border: 1px solid #BFA145;
  box-sizing: border-box;
  border-radius: 4px;
  color: #BFA145;
  padding: 5px 18px;
  font-weight: normal;
  margin-left: 30px; }
.cart-total .border-line {
  border-top: 1px solid #F1F1F1;
  margin: 25px 0; }
.cart-total .check-out a {
  display: inline-block;
  width: 100%; }

.shop-total {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .shop-total span {
    font-size: 14px; }
  .shop-total .total-amount {
    font-size: 20px;
    color: #572885;
    font-weight: 600; }
  .shop-total .price-tam-tinh {
    font-weight: 600; }

.table-cart-product {
  font-size: 14px; }
  .table-cart-product thead th {
    color: #454545;
    border-bottom: 1px solid #CFCFCF;
    padding: 10px;
    white-space: nowrap;
    font-weight: 600; }
  .table-cart-product .product-quantity {
    height: 42px;
    width: 135px; }
    .table-cart-product .product-quantity input {
      font-size: 16px; }
  .table-cart-product td.product-remove {
    width: 20px;
    padding: 0;
    cursor: pointer; }
  .table-cart-product tbody td {
    padding: 20px; }
  .table-cart-product tbody tr {
    border-bottom: 1px solid #F1F1F1; }
  .table-cart-product tbody .new-price {
    text-align: right; }
  .table-cart-product tbody .old-price {
    opacity: 0.6;
    text-decoration: line-through;
    text-align: right; }
  .table-cart-product tbody .total-price {
    font-weight: 600;
    text-align: right; }

.add_address a {
  color: #572885; }
  .add_address a i {
    margin-right: 10px; }

.show-add-address {
  background: #F0F5FA;
  border-radius: 6px;
  padding: 15px; }

.success-page .title-section {
  text-align: center; }
  .success-page .title-section .icon-cart-success {
    text-align: center;
    max-width: 100px; }
.success-page .shop-total {
  justify-content: flex-end; }
  .success-page .shop-total .total-amount {
    margin-left: 150px; }
.success-page .box-shadow {
  max-width: 700px;
  margin: 0 auto; }
  .success-page .box-shadow .info-cus {
    margin-top: 10px; }
    .success-page .box-shadow .info-cus p {
      margin-top: 10px; }
.success-page .continue-buy {
  text-align: center;
  display: inline-block;
  width: 100%; }
.success-page .box-shadow {
  padding: 20px 20px 5px 20px; }

.product-thumbnail {
  display: flex;
  align-items: flex-start; }
  .product-thumbnail .so-luong-product {
    font-size: 14px;
    margin-right: 10px;
    color: #5E6769; }
    .product-thumbnail .so-luong-product i {
      font-size: 12px; }
  .product-thumbnail .product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .product-thumbnail img {
    max-width: 70px;
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    margin-right: 10px; }

.tittle-box-cart {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0; }

.payment-success {
  margin-bottom: 30px !important; }

.border-box-success {
  border-bottom: 1px dashed #E7E7E7; }
  .border-box-success .cart-area {
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0; }
    .border-box-success .cart-area .pro-details {
      display: flex;
      justify-content: space-between; }
    .border-box-success .cart-area:last-child {
      border-bottom: 0 !important; }

.has-cart {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative; }

.status-order {
  display: flex;
  align-items: center; }
  .status-order .shipper {
    color: #572885;
    margin-right: 30px; }
    .status-order .shipper img {
      margin-right: 10px; }
  .status-order .btn_status {
    color: #572885;
    border: 1px solid #572885;
    border-radius: 6px;
    padding: 5px 10px;
    margin-right: 5px; }
  .status-order .shop-total {
    position: absolute;
    right: 15px; }
    .status-order .shop-total .total-amount {
      margin-left: 30px; }

.head-order-detail {
  max-width: 700px;
  margin: 25px auto; }
  .head-order-detail .title-order-details a,
  .head-order-detail .title-order-details span {
    font-size: 16px; }
  .head-order-detail .shipper {
    text-align: right; }
  .head-order-detail .id-order-details {
    color: #572885;
    font-weight: 600; }

/*-------------------- Page -profile -------------------------*/
.info-profile {
  display: flex;
  justify-content: center;
  position: relative; }
  .info-profile .ava-profile {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 1px solid #F1F1F1;
    max-width: 100px;
    margin-right: 10px; }
  .info-profile .title-profile {
    position: relative;
    padding-left: 115px; }
    .info-profile .title-profile h2 {
      font-size: 32px;
      font-weight: 600; }
    .info-profile .title-profile a {
      font-size: 13px;
      color: #6A6A6A;
      text-decoration: underline; }

.tabs-info .nav {
  justify-content: center; }
.tabs-info .nav-tabs .nav-link {
  border: none;
  text-transform: uppercase;
  font-size: 16px; }
.tabs-info .nav-tabs .nav-item.show .nav-link,
.tabs-info .nav-tabs .nav-link.active {
  color: #572885;
  background-color: #fff;
  border-bottom: 2px solid #572885;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center; }
.tabs-info .tab-content {
  /*custom_checkcart*/ }
  .tabs-info .tab-content label {
    color: #8F9394; }
  .tabs-info .tab-content input,
  .tabs-info .tab-content select,
  .tabs-info .tab-content .custom-select {
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    height: 40px; }
  .tabs-info .tab-content .btn-common {
    padding: 15px 50px; }
  .tabs-info .tab-content .empty-cart {
    text-align: center; }
    .tabs-info .tab-content .empty-cart img {
      max-width: 250px;
      opacity: 0.3;
      margin-bottom: 20px; }
    .tabs-info .tab-content .empty-cart p {
      font-size: 16px; }
  .tabs-info .tab-content .custom_checkcart {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
  .tabs-info .tab-content .custom_checkcart .input-custom:checked + .label-custom::before {
    color: #572885;
    background-color: transparent;
    border: 1.5px solid #572885; }
  .tabs-info .tab-content .custom_checkcart .input-custom {
    display: none; }
  .tabs-info .tab-content .custom_checkcart .label-custom {
    margin-left: 50px;
    white-space: nowrap;
    color: #222;
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-weight: 400; }
  .tabs-info .tab-content .custom_checkcart .label-custom:checked {
    color: #572885; }
  .tabs-info .tab-content .custom_checkcart .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 12px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1.5px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 100%;
    left: 0;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .tabs-info .tab-content .custom_checkcart .label-custom:checked {
    color: #572885 !important; }

.login-logout .input-remember {
  display: none; }
.login-logout input {
  border: 1px solid #E5E5E5;
  border-radius: 0;
  padding: 9px 10px;
  min-height: 45px;
  font-size: 14px;
  font-weight: normal;
  width: 100%; }
.login-logout .label-remember {
  font-size: 13px;
  color: #6A6A6A;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer; }
  .login-logout .label-remember:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    left: 0;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
.login-logout .input-remember:checked + .label-remember::before {
  color: white;
  background-color: #572885;
  border: 0; }
.login-logout .forgot-password {
  text-align: center;
  color: #6A6A6A; }
.login-logout .remember-box {
  position: relative; }
  .login-logout .remember-box .forgot-password {
    position: absolute;
    right: 0;
    top: 0; }
.login-logout .btn-common {
  width: 100%; }

.page-profile .btn-common.send-yc {
  width: 100%; }
.page-profile .cancel-order {
  color: #6A6A6A; }

.modal {
  top: 100px; }
  .modal .modal-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative; }
  .modal .modal-dialog {
    max-width: 600px; }
  .modal .modal-header {
    border-bottom: 0;
    padding: 0; }
  .modal .modal-content {
    border: 0;
    border-radius: 6px;
    padding: 25px; }
  .modal .title-order-details {
    text-align: center; }
  .modal textarea {
    height: 80px; }
  .modal .head-order-detail {
    margin: 0; }
  .modal .close {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    background: #572885;
    padding: 8px 10px !important;
    border-radius: 50%; }
  .modal .close:not(:disabled):not(.disabled):focus,
  .modal .close:not(:disabled):not(.disabled):hover {
    opacity: 1; }

/* check-radio-custom */
.check-radio-custom {
  margin: 15px 0; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #222; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #BFA145;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #BFA145;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 10px 0; }

/* -----------------Custom thanh srcoll-----------------*/
.scrollbar {
  height: 53vh;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  padding: 0 10px; }

#style-1::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #cbcbcb; }

#style-1::-webkit-scrollbar {
  width: 1.5px;
  background-color: #ededed; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #f7f7f7; }

/* -----------------Custom select box / input -----------------*/
input,
textarea {
  border-radius: 6px;
  border: 1px solid #F1F1F1;
  height: 40px;
  padding: 10px;
  background-color: white;
  width: 100%; }

textarea {
  width: 100%; }

.custom-select {
  position: relative;
  padding-left: 10px;
  background: #fff;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #E5E5E5; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #ABABAB;
  top: 10px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #454545;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px;
  padding-top: 3px;
  padding-left: 5px; }

/* Style items (options): */
.select-items {
  padding: 15px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15); }

.select-items div {
  padding: 10px 0; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  color: #572885; }

/* -----------------------------------Page News--------------------------------------------------------------- */
.infor-news .content-title-news .time {
  color: #6A6A6A;
  opacity: 0.4; }

.infor-news .title-news {
  -webkit-line-clamp: 2; }

.section-news-lager {
  padding-bottom: 15px; }
  .section-news-lager .title-news {
    -webkit-line-clamp: inherit !important; }
    .section-news-lager .title-news a {
      font-size: 32px !important;
      text-transform: uppercase; }

.page-news .thumnaisl-avatar img {
  border-radius: 12px; }
.page-news .infor-news .title-news {
  -webkit-line-clamp: 2;
  min-height: 50px; }
  .page-news .infor-news .title-news a {
    font-size: 16px; }

.cate-news ul {
  display: flex;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #E4E7EB;
  border-radius: 80px;
  padding: 10px 0; }
  .cate-news ul li {
    font-size: 14px;
    margin: 0 15px;
    font-weight: 600; }
    .cate-news ul li.active a {
      color: #572885; }

.detail-left h1 {
  font-size: 32px;
  font-weight: 600; }
.detail-left p {
  text-align: justify;
  line-height: 27px; }
.detail-left span {
  color: #6A6A6A;
  text-align: center;
  margin: 10px 0;
  display: inline-block;
  width: 100%; }
.detail-left .time-date span {
  text-align: left; }

.detail-news {
  padding-bottom: 10px; }

.tags-news span {
  text-align: left;
  color: inherit; }
.tags-news a {
  color: #BFA145;
  border: 1px solid #BFA145;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 13px;
  margin: 3px 5px;
  display: inline-block; }

.tin-xem-nhieu {
  border: 1px solid #F1F1F1; }
  .tin-xem-nhieu .item-news-right {
    padding: 0 15px;
    margin-bottom: 0; }
    .tin-xem-nhieu .item-news-right .thumnaisl-avatar img {
      border-radius: 4px; }
  .tin-xem-nhieu .title-detail {
    font-size: 18px;
    background-color: #572885;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 4px 4px 0 0; }
    .tin-xem-nhieu .title-detail a {
      color: white; }
  .tin-xem-nhieu .title-news {
    font-size: 14px;
    font-weight: normal; }

.title-detail {
  font-size: 24px;
  font-weight: 600; }

.page-404 {
  text-align: center; }
  .page-404 img {
    max-width: 320px; }
  .page-404 p {
    font-size: 16px; }

.page-list-store .title-section {
  text-align: left; }

.page-contact .title-section {
  text-align: left; }
.page-contact .thong-tin-lien-he {
  display: flex;
  justify-content: center; }
  .page-contact .thong-tin-lien-he .icon-contact {
    padding-right: 10px; }
    .page-contact .thong-tin-lien-he .icon-contact img {
      width: 48px; }
  .page-contact .thong-tin-lien-he .content-hotline {
    display: flex; }
  .page-contact .thong-tin-lien-he .info span {
    display: inline-block;
    width: 100%;
    color: #A1ADA7;
    font-size: 12px; }
  .page-contact .thong-tin-lien-he .info a {
    color: #572885;
    font-weight: 600;
    font-size: 18px !important; }
.page-contact .form-contact .thumnaisl-avatar a {
  padding-top: 74%; }
.page-contact .form-contact .thumnaisl-avatar img {
  border-radius: 12px; }
.page-contact .form-contact .thumnaisl-avatar::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  left: 24px;
  top: 18px;
  opacity: 0.35;
  border: 10px solid #FFFFFF;
  border-radius: 12px;
  z-index: 1; }
.page-contact .form-contact form {
  padding: 30px; }
  .page-contact .form-contact form .center {
    text-align: right; }

.banner-head-policy img {
  height: 230px;
  width: 100%; }

/* ---------------------------------------------- page about ----------------------------------------- */
.btn-file-pw {
  background: linear-gradient(89.72deg, #D6B75E 0.24%, #E9D267 75.75%, #C9AE24 99.76%);
  border-radius: 6px;
  padding: 12px 12px 10px 15px; }

.banner-about .col-infor-promo h3 a, .banner-about .col-infor-promo p {
  color: #454545; }
.banner-about .col-infor-promo p {
  font-size: 15px; }
.banner-about .col-infor-promo {
  padding-right: 100px; }

.page-about .banner-horizontal.banner-about {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0; }
.page-about .col-infor-promo h3 {
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.page-about .linh-vuc-hd {
  position: relative;
  background-color: #F8FBFE;
  padding-top: 160px; }
  .page-about .linh-vuc-hd h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .page-about .linh-vuc-hd p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .page-about .linh-vuc-hd .pattern {
    top: 0; }

.item-lv {
  background-color: white;
  box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  margin: 15px 0; }
  .item-lv:hover {
    background: rgba(219, 174, 39, 0.13);
    cursor: pointer; }
  .item-lv .info-lv {
    margin-top: 30px; }
  .item-lv h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600; }
  .item-lv .thumnaisl-avatar {
    max-width: 200px;
    margin: 0 auto; }
    .item-lv .thumnaisl-avatar a {
      padding-top: 100%; }
      .item-lv .thumnaisl-avatar a img {
        border: 1px solid #E4EBF1;
        border-radius: 50%; }

.section-gallery .thumnaisl-avatar a {
  padding-top: 80%; }

.section-nhan-hang-noibat .ds-nhan-hang {
  padding: 60px;
  padding-bottom: 0; }
  .section-nhan-hang-noibat .ds-nhan-hang .thumnaisl-avatar:hover {
    border: 1px solid #572885; }
.section-nhan-hang-noibat .list-second .thumnaisl-avatar a {
  padding-top: 52%; }
.section-nhan-hang-noibat .thumnaisl-avatar.thum-larger {
  width: 100%; }
  .section-nhan-hang-noibat .thumnaisl-avatar.thum-larger a {
    padding-top: 65%; }
.section-nhan-hang-noibat .thumnaisl-avatar {
  float: left;
  width: 100%;
  border: 1px solid #F1F1F1;
  margin: 0 0 25px 0;
  border-radius: 6px;
  overflow: hidden; }
  .section-nhan-hang-noibat .thumnaisl-avatar a {
    padding-top: 40%; }

.sp-noibat-page-about {
  padding-top: 90px; }
  .sp-noibat-page-about .list-product .item-product .info-product .product-name {
    text-transform: uppercase !important;
    margin-top: 10px; }
  .sp-noibat-page-about .item-product {
    text-align: center; }
    .sp-noibat-page-about .item-product .info-product p {
      color: #6A6A6A;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .sp-noibat-page-about .item-product .id-products {
      color: #BFA145;
      text-transform: uppercase; }
    .sp-noibat-page-about .item-product .btn-common {
      border: 1px solid #572885;
      background: white;
      color: #572885; }

/* ---------------------------------------------- page borchure----------------------------------------- */
.info-head-brochure {
  margin-top: 15px;
  min-height: 400px;
  display: flex;
  height: 100%;
  align-items: center; }
  .info-head-brochure .flexs {
    display: flex; }
  .info-head-brochure .avatar-nhan-hang {
    background-color: white;
    border: 1px solid #DBAE27;
    padding: 10px;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%; }
    .info-head-brochure .avatar-nhan-hang a {
      display: flex;
      width: 180px;
      position: absolute;
      top: 22%;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 15px; }
  .info-head-brochure .info-nhan-hang {
    color: white;
    padding-left: 25px;
    padding-right: 10px;
    width: 50%; }
    .info-head-brochure .info-nhan-hang p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .info-head-brochure .info-nhan-hang .title-section {
      text-align: left;
      margin-bottom: 0; }
      .info-head-brochure .info-nhan-hang .title-section a {
        color: white;
        font-size: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .info-head-brochure .info-nhan-hang .btn-common {
      margin: 5px; }
    .info-head-brochure .info-nhan-hang .btn-catalogue {
      background: linear-gradient(85.44deg, #3E0256 -26.54%, #CEA322 81.47%, #8855BA 106.39%); }

.list-social {
  background-color: #F9F7F3;
  position: relative;
  padding: 130px 0; }
  .list-social .top-social {
    margin-bottom: -155px; }
  .list-social .pattern {
    left: 0;
    top: 0;
    right: inherit;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  .list-social .box-social {
    background: #FFFFFF;
    border: 1px dashed #E5E5E5;
    box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
    border-radius: 12px;
    padding: 30px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    width: 100%; }
    .list-social .box-social .info-social {
      position: relative;
      padding-left: 20px;
      display: inline-block;
      width: 100%; }
      .list-social .box-social .info-social h3 {
        font-size: 20px; }
      .list-social .box-social .info-social p {
        margin-bottom: 0;
        display: inline-block;
        width: 100%; }
        .list-social .box-social .info-social p a {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden; }
    .list-social .box-social .social-nhan-hang {
      width: 55px;
      height: 55px;
      margin-left: -54px;
      background-color: #F7EDFB;
      border-radius: 10px;
      padding: 10px;
      padding-top: 10px;
      text-align: center; }
      .list-social .box-social .social-nhan-hang img {
        width: 45px; }

.page-brochure .banner-horizontal, .ovan-online .banner-horizontal {
  margin: 20px 0 0 0px; }

.page-brochure-detail .section-gallery {
  margin-top: 100px;
  position: relative; }
.page-brochure-detail .sp-noibat-page-about {
  padding: 50px;
  padding-top: 100px; }

/* ---------------------------------------------- page ovan online ----------------------------------------- */
.ovan-online .col-infor-promo h3 a {
  color: white; }
.ovan-online .col-infor-promo p {
  color: white; }
.ovan-online .product-promotion {
  justify-content: flex-end;
  padding-left: 20px; }
  .ovan-online .product-promotion .col-avatar-promo {
    left: 0; }
    .ovan-online .product-promotion .col-avatar-promo p {
      padding-right: 0; }
.ovan-online .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
  right: -35px;
  left: inherit; }

.col-infor-promo p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.col-infor-promo h3 {
  font-size: 32px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.ovan-online .banner-horizontal.banner-about {
  padding-bottom: 0; }
.ovan-online .section-website {
  background-color: #F9F7F3;
  padding-top: 100px;
  position: relative; }
  .ovan-online .section-website .info-web {
    text-align: center;
    border: 1px dashed transparent;
    padding: 15px 20px;
    margin: 10px 0; }
    .ovan-online .section-website .info-web:hover {
      cursor: pointer;
      border: 1px dashed #572885;
      border-radius: 10px; }
    .ovan-online .section-website .info-web p {
      font-size: 18px;
      color: #6A6A6A;
      padding-top: 30px;
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .ovan-online .section-website .info-web .line-flower {
      max-width: 180px;
      position: absolute;
      top: 85px;
      right: 0;
      left: 0;
      margin: 0 auto; }
    .ovan-online .section-website .info-web span {
      display: inline-block;
      width: 100%;
      padding-top: 10px;
      position: relative; }
      .ovan-online .section-website .info-web span a {
        font-size: 20px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .ovan-online .section-website .info-web a {
      font-size: 14px;
      display: inline-block;
      background: transparent;
      color: #572885; }
      .ovan-online .section-website .info-web a img {
        max-width: 65px; }
    .ovan-online .section-website .info-web .btn-common {
      margin-top: 14px; }
  .ovan-online .section-website .pattern {
    top: 0;
    right: 0; }
  .ovan-online .section-website .pattern-flower {
    left: 0;
    bottom: 0;
    top: inherit; }
.ovan-online .list-social {
  background-color: white; }
  .ovan-online .list-social .box-social {
    border: 1px dashed #E5E5E5;
    box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08); }
    .ovan-online .list-social .box-social:hover {
      cursor: pointer;
      border: 1px dashed #572885;
      border-radius: 10px; }
    .ovan-online .list-social .box-social .social-nhan-hang {
      background-color: transparent;
      top: 45px;
      width: 100px; }
      .ovan-online .list-social .box-social .social-nhan-hang img {
        width: 80px; }
.ovan-online .list-social .info-social {
  padding-left: 10px !important; }
  .ovan-online .list-social .info-social p {
    margin-top: 10px; }
    .ovan-online .list-social .info-social p a {
      color: #6A6A6A; }
.ovan-online .list-social .top-social {
  position: inherit; }
.ovan-online .list-social.list-tiktok {
  padding-bottom: 50px; }
  .ovan-online .list-social.list-tiktok .btn-common {
    background: transparent;
    color: #572885;
    text-align: left;
    padding-left: 0; }
    .ovan-online .list-social.list-tiktok .btn-common:hover {
      cursor: pointer; }
  .ovan-online .list-social.list-tiktok .center .btn-common {
    background: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
    text-align: center;
    padding: 12px 30px 10px 30px;
    color: white; }
  .ovan-online .list-social.list-tiktok .box-social {
    margin: 15px 20px; }
  .ovan-online .list-social.list-tiktok .pattern.pattern-flower {
    left: inherit;
    right: 0;
    bottom: 0;
    top: inherit; }

.section-youtube .info-web {
  margin: 20px 0 !important;
  background: #FFFFFF;
  box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
  border-radius: 10px;
  padding: 50px 15px !important; }
  .section-youtube .info-web p {
    padding-top: 10px !important; }
  .section-youtube .info-web .btn-common {
    background: linear-gradient(89.72deg, #D6B75E 0.24%, #E9D267 75.75%, #C9AE24 99.76%) !important;
    color: white !important;
    margin-top: 18px; }

.btn-common {
  cursor: pointer; }

.page-brochure-detail .list-product .banner-vertical.thumnaisl-avatar a {
  padding-top: 255%; }
.page-brochure-detail .list-social {
  padding: 110px 0; }
  .page-brochure-detail .list-social .box-social {
    min-height: 150px; }

/*# sourceMappingURL=style.css.map */
