#button-to-top {
	display: inline-block;
	background-color: #296db0;
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 50px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #button-to-top::after {
	content: "\e627";
	font-family: 'themify';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 45px;
	color: #fff;
  }
  #button-to-top:hover {
	cursor: pointer;
	background-color: #333;
	border-radius: 50px;
  }
  #button-to-top:active {
	background-color: #555;
	border-radius: 50px;
  }
  #button-to-top.show {
	opacity: 1;
	visibility: visible;
  }
  
  /* Styles for the content section */
  
  .content {
	width: 77%;
	margin: 50px auto;
	font-family: 'Merriweather', serif;
	font-size: 17px;
	color: #6c767a;
	line-height: 1.9;
  }
  @media (min-width: 500px) {
	.content {
	  width: 43%;
	}
	#button-to-top {
	  margin: 30px;
	}
  }
  .content h1 {
	margin-bottom: -10px;
	color: #03a9f4;
	line-height: 1.5;
  }
  .content h3 {
	font-style: italic;
	color: #96a2a7;
  }