$brand-1: #da2328;
$brand-2: #296db0;
$border: #eee;
$bg: #f3f4f2;
$text: #33302e;
$descreption: #66605c;
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Anek+Latin:wght@500&family=Inter&family=Lexend&family=Montserrat&family=Mulish:wght@200;300;400;500&family=Oswald:wght@600&family=Roboto&display=swap");

body {
	font-family: "Roboto", sans-serif;
	width: 100%;
	color: $text;
	font-size: 16px;
}

.container {
	max-width: 1300px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	box-shadow: none;
	text-shadow: none;
}
.content-carousel{
	object{
		width: 100%;
	}
}
a {
	text-decoration: none;
	color: $text;
	outline: none;

	&:hover {
		color: $brand-2;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

button {
	outline: none;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 16px;
}

b,
label {
	font-size: 13px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}
.mb-15{
	margin-bottom: 15px;
}
.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}
.baoin-khac{
	overflow: hidden;
}
.padding-box {
	padding-top: 15px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.center {
	text-align: center;
}
// .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
// 	padding-left: 10px;
// 	padding-right: 10px;
// }
/*-------------------------- HEADER ------------------------------*/
.tophead-left {
	width: 100%;
	display: flex;
	align-items: center;
	// margin-top: 15px;
	background: $bg;
	padding: 7px 0;
	.xuhuong{
		display: flex;
    	align-items: center;
		.link-top1 {
			width: 100px;
			max-height: 120px;
			padding-right: 10px;
	
			a {
				font-size: 15px;
				text-transform: uppercase;
				font-weight: 800;
				color: #da2328;
			}
		}
	
		p {
			margin-bottom: 0;
			font-size: 16px;
			color: #33302e;
			font-weight: 200;
			line-height: 24px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
header {
	display: inline-block;
	width: 100%;
	position: relative;
    z-index: 999;
}

.menu-scroll {
	width: 100%;
}

.tophead {
	background: #ffffff;

	.box-tophead {
		padding: 10px 0;
		
		.tophead-right {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.link-top2 {
				a {
					font-size: 15px;
					text-transform: uppercase;
					font-weight: 800;
					color: $brand-1;
				}
			}

			.box-search-PC {
				margin-left: 20px;
				width: 30%;

				.search-box {
					float: left;
					width: 100%;
					position: relative;

					input {
						border: 1px solid $border;
						border-radius: 25px;
						width: 100%;
						padding: 15px 10px;
						font-size: 12px;
						height: 25px;
						outline: none;
					}

					i {
						position: absolute;
						right: 15px;
						top: 10px;
						font-size: 13px;
						color: #606060;
					}
				}
			}
		}
	}
}

.banner-head {
	background: url(../images/bg_banner.jpg) top center;
	background-size: cover;
	z-index: 1;
	position: relative;

	.bgcover {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: 0.7;
		z-index: -9999;
	}

	.logo {
		text-align: center;
		padding: 30px 0;
	}
}

/*---------- MENU -----------*/
.menu nav ul .no-sub {
	&:hover a>svg {
		fill: $brand-2;
	}
}

.menu nav>ul {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.menu nav ul>li>a {
	&::before {
		content: "\e64b";
		display: inline-block;
		font-family: "themify";
		font-size: 9px;
		font-weight: 100;
		position: absolute;
		right: 5px;
		// top: 0;
	}
}

.menu {
	background-color: $brand-1;
	position: relative;
	z-index: 1;

	nav {
		ul {
			padding: 0;

			li {
				position: relative;
				list-style: none;
				padding: 12px 0 6px 0;

				i {
					display: none;
				}

				a {
					color: #fff;
					text-transform: uppercase;
					padding: 0 20px;
					position: relative;
					font-size: 14px;
					font-weight: bold;
					align-items: center;
					display: flex;

					&.active {
						padding: 14px 20px;
						color: $brand-2;
						background-color: #fff;
					}
				}

				ul {
					position: absolute;
					top: 45px;
					width: 250px;
					left: 0;
					display: none;
					background: white;
					box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.08);
					border-radius: 0;

					li {
						padding: 14px 0;
						height: 45px;
						a {
							display: inline-block;
							width: 100%;
							font-weight: normal;
							padding: 0 20px;
							color: $text;

							&::before {
								display: none;
							}
						}

						&:hover {
							a {
								color: #fff;
							}
						}
					}
				}

				&:hover {
					ul {
						display: inline-block;
					}
				}

				&:hover {
					background-color: $brand-2;
					-webkit-transition: all 0.4s ease;
					transition: all 0.4s ease;
				}
			}
		}
	}
}

.box-search-mb {
	display: none;
}

.mobile-menu {
	display: none;
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}

.no-sub {
	&.active {
		color: $brand-2;
		background-color: #fff;

		svg {
			fill: #296db0;
		}
	}
}

/*-------------------------- END MENU ------------------------------*/

/*-------------------------- FOOTER ------------------------------*/
.content-footer{
	margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
	&:last-child{
		border-bottom: 0;
	}
	span{
		display: flex;
		align-items: center;
		margin-left: 30px;
	}
}
footer {
	padding: 30px 0 20px 0;
	display: inline-block;
	width: 100%;
	background-color: #f9fbfe;

	img {
		width: 260px;
	}

	h6 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;
		color: $text;
	}

	.link-footer {
		p {
			opacity: 0.9;
			display: flex;
			color: $text;
			width: 100%;
			font-size: 15px;
			line-height: 28px;
			margin-bottom: 10px;

			i {
				margin-right: 10px;
				line-height: 28px;
			}

			span {
				font-size: 15px;
			}
		}
	}
}

.infor-contact {
	display: inline-block;
	width: 100%;
	margin: 20px 0 0 0;

	a {
		font-size: 18px;
		font-weight: 700;
		color: $brand-2;
		display: inline-block;
		width: 100%;
		text-transform: uppercase;
	}

	span {
		opacity: 0.9;
		color: $text;
		display: inline-block;
		width: 100%;
		font-size: 15px;
		line-height: 32px;
	}
}

.infor-contactus {
	a {
		// text-transform: uppercase;
		background: #286db0;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		width: 100%;
		font-size: 14px;
		line-height: 32px;
		// opacity: 0.9;
		border: 1px solid #286db0;
		border-radius: 50px;
		padding: 2px 10px;
		text-align: center;
		margin-bottom: 10px;
		

		&:hover {
			background: transparent;
			color: #286db0;
			border: 1px solid #286db0;
		}
	}
}

.footer-copyright {
	overflow: hidden;
	background-color: $brand-1;
	padding: 8px 0;

	.box-copyright {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.col-md-5 {
			padding-left: 0;

			p {
				font-size: 13px;
				color: #fff;
				margin-bottom: 0;
				line-height: 34px;

			}
		}

		.social-footer {
			text-align: center;
			margin: 0 10px;
			img {
				width: 28px;
			}
		}
	}
}

/*-------------------------- END FOOTER ------------------------------*/
/*-------------------------- TRANG CHỦ ------------------------------*/
// .content-title-news{
// 	padding: 0 10px;
// }
.detail-post {
	.footer-post {
		display: flex;
		justify-content: space-between;
		padding: 15px 80px 15px 80px;
	}

	.img-qc {
		margin: 15px 0;
	}

	padding-top: 35px;
	padding-bottom: 0;

	.content-title-news {
		margin-top: 0;
		
	}

	.title-news {
		display: inline;
	}

	.avatar-news {
		padding: 20px 0;

		a {
			padding-top: 45%;

			img {
				border-radius: 0;
			}
		}
	}

	p {
		padding: 20px 80px 0px 80px;
		text-align: justify;
	}

	.time-date-comment {
		justify-content: space-between;
	}

	.time-date,
	.comment {
		display: inline-block;
	}
}

.tags-tt {
	padding-top: 15px;
	padding-left: 80px;

	a {
		display: inline-flex;
		border: 1px solid $brand-2;
		padding: 7px 20px;
		color: $brand-2;
		background-color: white;
		border-radius: 50px;
		text-decoration: none;
		margin: 0 3px 10px 3px;

		&:hover {
			color: #fff;
			background-color: $brand-2;
			border: 1px solid $brand-2;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}
	}
}

.sugesst-news {
	padding-top: 35px;

	.title-news.lager {
		margin-bottom: 20px;
	}
}

.share-post {
	a {
		margin-right: 10px;
	}

	img {
		width: 30px;
	}
}

.news-popular,
.nghien-cuu-trao-doi,
.tro-giup-PL,
.PL-doi-song,
.nhin-ra-TG,
.multi-media,
.sugesst-news,
.nghe-luat-su,
.gioithieu-tapchiin,
.cac-tin-khac {
	.title-section .section-title-cate {
		text-align: left;
	}
}

.list-news-suggesst {
	li {
		margin: 15px 0;

		&::marker {
			color: $brand-1;
		}

		a {
			color: #ffa383;
			font-weight: 500;
		}
	}
}

.news-popular {
	.item-news-right {
		padding-left: 10px;
		margin-bottom: 20px;
	}

	.avatar-news a {
		// padding-top: 70%;
	}

	.content-title-news {
		// margin-top: 8px;
	}

	.content-infor {
		align-items: normal;
	}
}
.old-cc{
	.section-title-cate {
		text-align: left;
		a{
			&::after{
				content: '' !important;
			}
		}
	}
}
.section-title-cate {
	display: inline-block;
	text-align: center;
	width: 100%;
	border-bottom: 3px solid #d92429;
	position: relative;
	h2 {
		position: relative;
		margin-bottom: 0;
		a {

			padding: 11px 20px;
			background-color: #d92429;
			border-radius: 2px 0 0 0;
			font-weight: 800;
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			line-height: 40px;
			
			&::after {
				font-size: 16px;
				content: "\e649";
				font-family: "themify";
				position: absolute;
				// content: " ";
				margin-left: 15px;
				background: url(../images/line.svg) no-repeat;
				background-size: contain;
				display: inline-block;
				width: 100%;
				height: 44px;
				
			}
			
		}
		
		
	}
}
.title-section {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;

	.section-title-cate {
		display: inline-block;
		text-align: center;
		width: 100%;
		border-bottom: 3px solid #d92429;
		position: relative;
		h2 {
			position: relative;
			margin-bottom: 0;
			a {

				padding: 11px 20px;
				background-color: #d92429;
				border-radius: 2px 0 0 0;
				font-weight: 800;
				font-size: 20px;
				text-transform: uppercase;
				color: #fff;
				line-height: 40px;
				
				&::after {
					font-size: 16px;
					content: "\e649";
					font-family: "themify";
					position: absolute;
					// content: " ";
					margin-left: 15px;
					background: url(../images/line.svg) no-repeat;
					background-size: contain;
					display: inline-block;
					width: 100%;
					height: 44px;
					
				}
				
			}
			
			
		}
	}

	.section-sub-cate {
		display: flex;
		justify-content: center;

		a {
			margin: 0 20px;
			font-size: 16px;
		}
	}
}

/*------------------- box news ------------------------------*/
.box-news {
	display: inline-block;
	width: 100%;
}

.cate-name {
	h6 {
		a {
			text-transform: uppercase;
			color: $brand-1;
		}
	}
}

.avatar-news {
	display: inline-block;
	width: 100%;

	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 2px;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
}

.infor-news {
	margin-top: 5px;
	display: inline-block;
	width: 100%;
}

.time-date-comment {
	display: flex;
}

.title-news {
	font-weight: bold;
	line-height: 24px;
	font-size: 16px;

	&.lager {
		a {
			text-transform: uppercase;
			font-size: 20px;
    		line-height: 34px;

			i {
				font-size: 27px;
			}
		}
	}

	a {
		font-weight: bold;
		line-height: 24px;
		font-size: 16px;

		i {
			font-size: 17px;
		}
	}
}
/*------------------- gioithieu-tapchiin ------------------------------*/
.gioithieu-tapchiin {

	.avatar-news{
			background: #FFFFFF;
			box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.10);
			border-radius: 4px;
			padding-bottom: 10px;
			margin-bottom: 20px;
		a{ 
			position: relative;
			padding-top: 133%;
			display: block;
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 0;
				object-fit: cover;
				object-position: center;
				left: 0;
				top: 0;
			}
		}
		.time-date{
			text-align: center;
			margin-top: 10px;
			p{  
				font-size: 24px;
				text-transform: uppercase;
				color: $text;
				margin-bottom: 0;
				font-weight: 800;
			}
			span{
				color: $text;
				opacity: 0.6;
				font-size: 16px;
			}
		}
	}
	.danh-sach-tapchiin{
		a{ 
			position: relative;
			padding-top: 133%;
			display: block;
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 0;
				object-fit: cover;
				object-position: center;
				left: 0;
				top: 0;
			}
		}
		.time-date{
			text-align: center;
			margin-top: 10px;
			p{  
				font-size: 14px;
				text-transform: uppercase;
				color: $text;
				margin-bottom: 0;
				font-weight: 800;
			}
			span{
				color: $text;
				opacity: 0.6;
				font-size: 14px;
			}
		}
		.chi-tiet-baoin{
			background: #FFFFFF;
			box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.21);
			border-radius: 4px;
			padding-bottom: 10px;
		}
	}
	.box-danhsachtapchi{
		
		background: #FFFFFF;
		box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
		border-radius: 4px;
		padding: 15px;
		margin: 30px 15px 0 15px;
		
		.danhsachtapchi{
			border-bottom: 1px dotted #ccc;
			padding: 15px;
			display: flex;
			justify-content: space-between;
			&:last-child{
				border-bottom: 0;
			}
			.time-date{
				// text-align: center;
				// margin-top: 10px;
				display: flex;
				align-items: center;
	
				a{  
					font-size: 14px;
					text-transform: uppercase;
					color: $text;
					margin-bottom: 0;
					font-weight: 800;
					&::after{
						content: "|";
						padding: 0 5px;
					}
				}
				span{
					color: $text;
					opacity: 0.6;
					font-size: 14px;
				}
			}
		}
		// .line-bottom{
		// 	border-bottom: 1px dotted #ccc;
    	// 	margin-bottom: 15px;
		// 	width: 100%;
		// }
	}
}
/*------------------- NGHIÊN CỨU TRAO ĐỔI ------------------------------*/
 
.nghien-cuu-trao-doi{
	.item-processes {
	position: relative;
	margin-bottom: 30px;
	a{
		position: relative;
		padding-top: 56%;
		display: block;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 2px;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

	.infor-processes {
		height: 105px;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: linear-gradient(0deg, #326fa4 0%, rgba(255, 255, 255, 0) 100%);
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		padding: 30px;
		h5 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			color: white;
			font-size: 28px;
			font-weight: 400;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			bottom: 10px;
			padding: 30px;
			line-height: 38px;
			margin-bottom: 0;
			a{
				position: initial;
				padding-top: 0;
				display: block;
				color: #fff;
			}
		}
	}

}
.item-news-right{
	margin-bottom: 11px;
	.col-md-5{
		.avatar-news{
				a{
					position: relative;
					padding-top: 70%;
					display: block;
					img{
						position: absolute;
						width: 100%;
						height: 100%;
						border-radius: 2px;
						object-fit: cover;
						object-position: center;
						left: 0;
						top: 0;
					}
				}
			}
	}
	.col-md-7{
		padding-left: 0;
	}
	

}
}
/*------------------- BOX-BANNER ------------------------------*/
.box-img {
	max-height: 200px;
}

/*------------------- section NGHỀ LUẬT SƯ ------------------------------*/
.nghe-luat-su {
	.box-news {
		.title-news {
			cursor: pointer;
			// line-height: 38px;
			// margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.item-news-right{
		margin-bottom: 11px;
		.col-md-5{
			.avatar-news{
					a{
						position: relative;
						padding-top: 70%;
						display: block;
						img{
							position: absolute;
							width: 100%;
							height: 100%;
							border-radius: 2px;
							object-fit: cover;
							object-position: center;
							left: 0;
							top: 0;
						}
					}
				}
		}
		.col-md-7{
			padding-left: 0;
		}
		
	
	}
}

// .separator--dotted {
// 	background: url(../images/line_title.svg) repeat-x top;
// 	display: inline-block;
// 	width: 100%;
// 	height: 7px;
// 	background-position: 0 0;
// 	background-size: 3px 3px;
// 	height: 9px;
// 	width: 100%;
// 	margin-bottom: 5px;
// }

/*---------------------------- Section PHÁP LUẬT ĐỜI SỐNG ----------------------------*/
.PL-doi-song {
	.item-news-right {
		border-bottom: 1px dotted #ccc;
		margin-bottom: 15px;
		&:last-child {
			border-bottom: none;
		}
		.infor-news {
			margin-top: 0;
		}
	}
}

/*---------------------------- Section BANNER RIGHT ----------------------------*/
.banner-right {
	.box-img-banner {}
}

/*---------------------------- Section GÓC NHÌN ----------------------------*/
.goc-nhin {
	.danh-muc-ques {
		background: #ffffff;
		// border: 1px solid $brand-1;
		border-radius: 2px;
		// padding-bottom: 5px;
		.title-right {
			font-weight: 800;
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			line-height: 45px;
			background-color: #296cb0;
			border-bottom: 2px solid #fff;
			margin-bottom: 0;

			a {
				color: #fff;
			}
		}

		ul {
			padding: 0 15px;
			margin-bottom: 0;
			background: #286db0;
			li {
				border-bottom: 1px dotted #ffffff5c;
				padding: 15px 0;
				list-style: none;

				a {
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					font-size: 16px;
					color: #fff;
					text-decoration: none;

					&:hover {
						color: #fff;
						opacity: 0.7;
					}
				}

				&:last-child {
					border-bottom: none;
				}

				.time-date-comment {
					display: flex;
					margin-top: 5px;

					.time-date {
						span {
							color: #fff;
							opacity: 0.7;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/*---------------------------- Section THƯ VIỆN LUẬT SƯ----------------------------*/
.thu-vien-LS {
	.danh-muc-ques {
		background: #ffffff;
		border: 1px solid $brand-1;
		border-radius: 2px;
		padding-bottom: 5px;

		.title-right {
			font-weight: 800;
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			line-height: 45px;
			background-color: #d92429;
			margin-bottom: 0;

			a {
				color: #fff;
			}
		}

		.item-news-right {
			border-bottom: 1px dotted #ccc;
			margin: 15px 15px 0 15px;

			&:last-child {
				border-bottom: none;
			}

			.col-md-7 {
				padding-left: 0;

				.infor-news {
					margin-top: 0;
				}
			}
		}
	}
}

/*------------------ Section ĐỌC BÁO IN ---------------------*/
.doc-bao-in {
	.danh-muc-ques {
		background: url(../images/contact-bg.png) no-repeat center top;
		border: 1px solid $brand-1;
		border-radius: 2px;
		background-size: cover;
		position: relative;
		z-index: 12;

		.bgcover {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: 0.7;
			z-index: -9999;
		}

		.title-right {
			font-weight: 800;
			font-size: 20px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			line-height: 45px;
			background-color: #d92429;
			margin-bottom: 0;

			a {
				color: #fff;
			}
		}

		.mySlides {
			display: none;
		}

		img {
			vertical-align: middle;
		}

		/* Slideshow container */
		.slideshow-container {
			max-width: 1000px;
			position: relative;
			margin: auto;
			padding: 15px ;
		}

		/* Next & previous buttons */
		.prev,
		.next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: 35px;
			height: 35px;
			padding: 5px 0 10px 13px;
			margin-top: -22px;
			color: $brand-2;
			font-weight: bold;
			font-size: 18px;
			transition: 0.6s ease;
			border-radius: 50px;
			user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
			right: 0;
			border-radius: 50px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover,
		.next:hover {
			background-color: $brand-2;
		}

		/* The dots/bullets/indicators */
		.dot {
			cursor: pointer;
			height: 12px;
			width: 12px;
			margin: 0 2px;
			background-color: $brand-2;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}

		.active,
		.dot:hover {
			background-color: #06244d;
		}

		.fade:not(.show) {
			opacity: 1;
		}

		/* Fading animation */
		.fade {
			animation-name: fade;
			animation-duration: 1.5s;
		}

		@keyframes fade {
			from {
				opacity: 0.4;
			}

			to {
				opacity: 1;
			}
		}
	}
}

/*------------------------------------TAB TIN MỚI - TIN ĐỌC NHIỀU----------------------------------------*/
.content-tab-tintuc {
	display: inline-block;
	width: 100%;
	padding-top: 15px;

	.tab-content {
		display: inline-block;
		width: 100%;
		background: #fff;
		border: 1px solid $brand-1;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
		border-radius: 0px 0px 2px 2px;

		.contents-tintuc {
			padding: 15px 15px 0 15px;

			.list-content {

				// margin: 0 20px 20px 20px;
				.list-tab {
					border-bottom: 1px dotted #ccc;
					padding: 15px 0 15px 0;
					list-style: none;

					a {
						line-height: 28px;
						text-transform: inherit;
						background-color: unset;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						font-size: 16px;
						color: #33302e;
						text-decoration: none;
						padding: 0;

						&:hover {
							color: $brand-2;
						}
					}

					&:last-child {
						border-bottom: none;
					}

					.time-date-comment {
						display: flex;
						margin-top: 5px;

						.time-date {
							span {
								color: #323232;
								opacity: 0.6;
								font-size: 13px;
							}
						}
					}
				}
			}
		}
	}

	.nav-tabs {
		// justify-content: space-between;
		border-bottom: 0;

		li {
			// white-space: nowrap;
			text-align: center;
			border-radius: 2px 2px 0 0;
			background-color: $brand-2;
			color: #fff;
			padding: 0;
			line-height: 46px;
			&:active {
				text-align: center;
				// border-radius: 2px 2px 0 0;
				background-color: $brand-1;
			}

			&:last-child {
				
				margin-right: 0;
			}

			a {
				padding: 7px 0;
				color: #ffffff;
				font-weight: 800;
				line-height: 36px;
				text-transform: uppercase;
				font-size: 20px;

				&.active {
					padding: 7px 0;
					color: #fff;
					background: $brand-1;
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
}

/*------------------ logo ---------------------*/
.logo {
	img {
		height: 90px;
	}
}

span {
	color: $text;
}

.comment {
	margin-left: 10px;

	a {
		&:hover {
			span {
				color: $brand-2;
			}
		}
	}

	i {
		font-size: 11px;
	}
}

.center {
	text-align: center;
}

.btn-link {
	display: inline-block;
	width: 100%;

	a {
		padding: 10px 25px;
		border-radius: 12px;
		color: white;
		display: inline-block;
		background: $brand-1;

		i {
			font-size: 11px;
			color: white;
		}

		&:hover {
			background-color: $brand-2;
			color: #fff;
		}
	}
}

.pagging-page {
	width: 100%;
	display: flex;
	margin-top: 30px;
	justify-content: center;

	ul {
		li {

			a,
			span {
				width: 38px;
				height: 38px;
				margin: 0 3px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 8px;
				border: 1px solid white;
			}

			&.active {
				a {
					border: 1px solid $brand-2  !important;
					color: $brand-2;
				}
			}

			&:hover {
				a {
					border: 1px solid $border;
				}
			}
		}
	}
}

.breadcrumb-box {
	display: inline-block;
	width: 100%;
	padding-top: 5px;

	nav {
		li {
			&::before {
				opacity: 0.4;
			}
		}

		ol {
			text-transform: uppercase;
			padding-left: 0;
			padding-bottom: 0;
			margin: 0;
			background: none;
		}
	}

	a {
		font-size: 16px;
	}
}

.breadcrumb-item {
	color: #323232;
	opacity: 0.6;
	display: initial;
}

.breadcrumb-item.active {
	opacity: 1;
	color: $brand-2;
}

.content-title-news {
	p {
		a {
			color: $descreption  !important;
			line-height: 24px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}

/*--------------------PHÂN TÍCH- NGHIÊN CỨU--------------------------*/
.danh-sach-bai-viet {
	.item-news-right {
		margin-bottom: 15px;

		.infor-news {
			margin-top: 0;

			a {
				line-height: 30px;
				font-size: 20px;

				p {
					color: #66605c !important;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					line-height: 24px;
				}
			}
		}
	}
}

/*-------------------- CHI TIẾT BÀI VIẾT --------------------------*/
.noidung-baiviet {
	margin-top: 30px;

	.infor-news {
		.content-title-news {
			h1 {
				font-size: 32px;
    			font-weight: bold;
			}
		}
	}

	.time-date-comment {
		align-items: center;
		margin-bottom: 0;
		margin-top: 0;
		.time-date {
			white-space: break-spaces;

			span {
				color: #323232;
				opacity: 0.6;
			}
		}

		.btn-baonoi {
			margin-left: 20px;
			// background-color: $brand-1;
			// border-radius: 50px;
			// padding: 5px 20px;
			audio{
				height: 45px;
			}
		}
	}

	.noidung-chitiet {
		.descrep {
			margin-top: 30px;
			font-weight: 700;
			font-size: 16px;

			a {
				line-height: 26px;

				&:hover {
					color: $descreption;
				}
			}
		}

		.avatar-news {
			margin: 10px 0 30px 0;
		}

		p {
			line-height: 32px;
			margin-bottom: 0;
		}
	}

	.author {
		margin-top: 20px;
		text-align: right;

		span {
			color: $brand-1;

			text-transform: uppercase;

		}
	}

	.tags-tt {
		padding-left: 0;
		padding-top: 30px;

		a {
			padding: 7px 20px;
		}
	}

	.share-post {
		margin-top: 10px;

		a {
			margin-right: 0;

			img {
				width: 70px;
				height: 28px;
			}
		}
	}

	.binh-luan-tt {
		margin: 30px 0 0 0;

		.tieu-de-bl {
			font-weight: bold;
			position: relative;
			border-bottom: 1px solid #e9e9eb;
			padding-bottom: 10px;
			font-size: 18px;
			width: 100%;
			margin-bottom: 15px;

			&::after {
				content: " ";
				width: 90px;
				height: 1px;
				background: $brand-1;
				position: absolute;
				bottom: -1px;
				left: 0;
			}
		}

		textarea {
			border-radius: 0;
			border: 1px solid #e9e9eb;
			height: 85px;
			box-shadow: none;
			margin: 15px 0;

			&::placeholder {
				color: $descreption  !important;
				padding: 10px 5px;
				font-weight: normal !important;
				font-size: 14px;
			}

			&:focus {
				border-color: #59a2ef80;
				outline: none;
				box-shadow: 0 0 0 0.2rem #2196f30a;
			}
		}

		.btn-bl-tt {
			text-align: right;

			// margin-bottom: 20px;
			button {
				background-color: $descreption;
				font-weight: 400;
				color: #ffffff;
				font-size: 16px;
				padding: 10px 28px;
				border-radius: 2px;
				min-width: 130px;
				text-decoration: none;
				text-align: center;
				height: 48px;
				display: inline-block;
				transition: all 0.3s ease-in-out;

				&:disabled {
					background: #e0e0e0;
				}

				&:focus {
					outline: none;
				}
			}
		}

		.ds-binh-luan {
			.title-post {
				display: inline-flex;

				img {
					width: 40px;
					height: 40px;
					border-radius: 100px;
				}

				.tieu-de {
					font-weight: bold;
					margin: 5px 15px 0;
					font-weight: 700;
					color: #333333;
					font-size: 16px;
				}

				.time {
					margin-top: 4px;
					color: #777777 !important;
					color: #333333;
					font-size: 14px;
				}
			}

			.mo-ta {
				padding-left: 56px;
				line-height: 25px;
				margin-top: -10px;
				padding-right: 20px;
				color: #333333;
				font-size: 14px;

				img {
					width: initial;
				}

				.traloi-BL {
					.title-post {
						margin-top: 20px;
					}

					input {
						width: 100%;
						border: 1px solid #e9e9eb;
						padding: 10px;
						margin: 15px 0;

						&:focus {
							border-color: #59a2ef80;
							outline: none;
							box-shadow: 0 0 0 0.2rem #2196f30a;
						}
					}
				}

				.arrow_carrot-down {
					font-size: 18px;
				}

				p {
					cursor: pointer;
					padding: 0;
					margin-bottom: 0;

					a {
						color: #777777;
						font-size: 13px;
						text-decoration: none;
					}
				}

				.tuongtac {
					margin: 5px 0;
					display: flex;
				}
			}
		}
	}

	.noi-dung-tt {
		padding: 0 15px;

		.chu-thich-anh {
			text-align: center;
			margin: 15px auto;
			font-style: italic;
			color: $brand-2;
			display: block;
		}

		.tags-tt {
			width: 100%;
			margin: 30px 0;

			span {
				color: #353f60;
				font-size: 16px;
				font-weight: 700;
			}

			a {
				display: inline-flex;
				border: 1px solid $brand-1;
				padding: 10px 20px;
				color: $brand-1;
				background-color: white;
				border-radius: 50px;
				text-decoration: none;
				margin: 0 3px 10px 3px;
			}
		}

		.binh-luan-tt {
			margin: 30px 0 0 0;

			.tieu-de-bl {
				font-weight: bold;
				position: relative;
				border-bottom: 1px solid #e9e9eb;
				padding-bottom: 10px;
				font-size: 18px;
				width: 100%;
				margin-bottom: 15px;

				&::after {
					content: " ";
					width: 90px;
					height: 1px;
					background: $brand-1;
					position: absolute;
					bottom: -1px;
					left: 0;
				}
			}

			textarea {
				border-radius: 0;
				border: 1px solid #e9e9eb;
				height: 85px;
				box-shadow: none;
				margin: 15px 0;

				&::placeholder {
					color: $descreption  !important;
					padding: 10px 5px;
					font-weight: normal !important;
					font-size: 14px;
				}

				&:focus {
					border-color: #59a2ef80;
					outline: none;
					box-shadow: 0 0 0 0.2rem #2196f30a;
				}
			}

			.btn-bl-tt {
				text-align: right;

				button {
					background-color: $descreption;
					font-weight: 400;
					color: #ffffff;
					font-size: 16px;
					padding: 10px 28px;
					border-radius: 2px;
					min-width: 130px;
					text-decoration: none;
					text-align: center;
					height: 45px;
					display: inline-block;
					transition: all 0.3s ease-in-out;

					&:disabled {
						background: #e0e0e0;
					}

					&:focus {
						outline: none;
					}
				}
			}

			.ds-binh-luan {
				.title-post {
					display: inline-flex;

					img {
						width: 40px;
						height: 40px;
						border-radius: 100px;
					}

					.tieu-de {
						font-weight: bold;
						margin: 5px 15px 0;
						font-weight: 700;
						color: #333333;
						font-size: 16px;
					}

					.time {
						margin-top: 4px;
						color: #777777 !important;
						color: #333333;
						font-size: 14px;
					}
				}

				.mo-ta {
					padding-left: 56px;
					line-height: 25px;
					margin-top: -10px;
					padding-right: 20px;
					color: #333333;
					font-size: 14px;

					.icon-trl-nx {
						margin: 0 5px;

						&::before {
							color: $descreption  !important;
						}
					}

					.traloi-BL {
						.title-post {
							margin-top: 20px;
						}

						input {
							width: 100%;
							border: 1px solid #e9e9eb;
							padding: 10px;
							margin: 15px 0;

							&:focus {
								border-color: #59a2ef80;
								outline: none;
								box-shadow: 0 0 0 0.2rem #2196f30a;
							}
						}
					}

					.arrow_carrot-down {
						font-size: 18px;
					}

					p {
						cursor: pointer;
						padding: 0;
						margin-bottom: 0;

						a {
							color: #777777;
							font-size: 13px;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.tuongtac {
		p {
			margin-right: 20px;
		}

		.likeFB::before {
			line-height: 20px;
			font-size: 16px;
			content: "\e670";
			font-family: "themify";
			margin-right: 5px;
		}
	}

	.tt-lien-quan {
		margin-top: 30px;
		border-top: 1px solid #e9e9eb;

		h2 {
			font-weight: bold;
			margin: 30px 0;
			text-align: center;
			font-size: 32px;
		}
	}
	.separator--dotted {
		background: url(../images/line_title.svg) repeat-x top;
		display: inline-block;
		width: 100%;
		height: 7px;
	}
}

/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $descreption;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	font-size: 14px;
	margin-bottom: 15px;

	&:checked {
		color: $brand-2  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 16px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $descreption;
		box-sizing: border-box;
		border-radius: 4px;
		left: 0;
		top: 55%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $brand-1  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: $brand-1;
	background-color: transparent;
	border: 1px solid $brand-1;
}

.input-custom:checked+.label-custom {
	color: $brand-1  !important;
}

/* ------------------- Selecbox -------------------*/
/* Custom select box */
.custom-select {
	margin-bottom: 20px;
	height: 35px;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	position: relative;
	padding: 0;
	background: none;
	width: 160px;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
	color: $descreption;
	top: 18px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	padding: 10px 5px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
}

/* Style items (options): */
.select-items {
	padding: 0 0;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: white;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 99;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #f4f5f9;
}

/* -------------- CÁC TIN KHÁC -------------------- */

.cac-tin-khac {
	ul {
		padding: 0;
		margin-bottom: 0;

		li {
			border-bottom: 1px dotted #ccc;
			padding: 15px 0;
			list-style: none;

			a {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				font-size: 16px;
				color: #33302e;
				text-decoration: none;

				&:hover {
					color: $brand-2;
				}
			}

			&:last-child {
				border-bottom: none;
			}

			.time-date-comment {
				display: flex;
				margin-top: 5px;

				.time-date {
					span {
						color: #323232;
						opacity: 0.6;
						font-size: 13px;
					}
				}
			}
		}
	}
}

/*------------------------------------PAGE TƯ VẤN ----------------------------------------*/
.tin-tuc-tu-van {
	.title-news {
		a {
			font-weight: bold;
			line-height: 32px;
			font-size: 20px;
		}
	}

	.infor-news a p {
		line-height: 26px;
	}
}

.contact-section {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	min-height: 700px;
	background: url(../images/con.jpg) no-repeat center top;
	background-size: cover;

	input {
		height: 48px;
		border: 1px solid #ccc;
		padding: 5px 15px;
		font-size: 14px;

		&::placeholder {
			color: #aeadad;
		}
	}

	.form-contact {
		max-width: 600px;
		margin: auto;

		button {
			float: right;
			width: 170px;
			height: 50px;
			border-radius: 2px;
			background: $brand-1;
			color: white;
			border: 0;
		}
	}

	.button-submitform {
		button {
			&:hover {
				background: $brand-2;
			}
		}

		img {
			margin-left: 5px;
			width: 17px;
		}
	}

	.title-section {
		h2 {
			font-size: 40px;
			font-weight: 600;
			color: #fff;
			display: inline-block;
			width: 100%;
		}

		p {
			font-size: 16px;
			font-weight: 400;
			color: #fff;
			display: inline-block;
			max-width: 76%;
		}
	}

	textarea.form-control {
		height: 100px;

		&::placeholder {
			color: #aeadad;
			font-size: 14px;
		}
	}

	.custom-select {
		margin-bottom: 0;
		width: 100%;
		height: 48px;
		border: 1px solid #ccc;
		padding: 5px 15px;
		font-size: 14px;
		background-color: #fff;

		.select-selected {
			text-align: left;
			padding: 10px 5px;
			color: #aeadad;

			&::after {
				top: 20px;
				right: 20px;
				color: #aeadad;
			}
		}

		.select-items {
			top: 45px;
			padding: 10px 15px;
			text-align: left;
		}
	}

	.captcha {
		background-color: #f9f9f9;
		border: 2px solid #d3d3d3;
		border-radius: 5px;
		color: #4c4a4b;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: flex-start;
		align-items: center;
		width: 270px;
		float: right;
		margin: 0 0 30px 0;

		.text {
			font-size: 14px;
			font-weight: 500;
			margin-right: 1em;
		}

		.spinner {
			position: relative;
			// width:2em;
			// height:2em;
			display: flex;
			margin: 0 1em;
			align-items: center;
			justify-content: center;
		}

		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}

		input[type="checkbox"]+.checkmark {
			display: inline-block;
			width: 2em;
			height: 2em;
			background-color: #fcfcfc;
			border: 2.5px solid #c3c3c3;
			border-radius: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		input[type="checkbox"]+.checkmark span {
			content: "";
			position: relative;
			/*
		position:absolute;
		border-bottom:3px solid;
		border-right:3px solid;
		border-color:#029f56;*/
			margin-top: -3px;
			transform: rotate(45deg);
			width: 0.75em;
			height: 1.2em;
			opacity: 0;
		}

		input[type="checkbox"]+.checkmark>span:after {
			content: "";
			position: absolute;
			display: block;
			height: 3px;
			bottom: 0;
			left: 0;
			background-color: #029f56;
		}

		input[type="checkbox"]+.checkmark>span:before {
			content: "";
			position: absolute;
			display: block;
			width: 3px;
			bottom: 0;
			right: 0;
			background-color: #029f56;
		}

		input[type="checkbox"]:checked+.checkmark {
			animation: 2s spin forwards;
		}

		input[type="checkbox"]:checked+.checkmark>span {
			animation: 1s fadein 1.9s forwards;
		}

		input[type="checkbox"]:checked+.checkmark>span:after {
			animation: 0.3s bottomslide 2s forwards;
		}

		input[type="checkbox"]:checked+.checkmark>span:before {
			animation: 0.5s rightslide 2.2s forwards;
		}

		@keyframes fadein {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		@keyframes bottomslide {
			0% {
				width: 0;
			}

			100% {
				width: 100%;
			}
		}

		@keyframes rightslide {
			0% {
				height: 0;
			}

			100% {
				height: 100%;
			}
		}

		.logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			align-self: flex-end;
			margin: 0.5em 1em;
		}

		.logo img {
			height: 25px;
			width: 25px;
		}

		.logo p {
			color: #9d9ba7;
			margin: 0;
			font-size: 10px;
			font-weight: 700;
			margin: 0.4em 0 0.2em 0;
		}

		.logo small {
			color: #9d9ba7;
			margin: 0;
			font-size: 10px;
		}

		@keyframes spin {
			10% {
				width: 0;
				height: 0;
				border-width: 6px;
			}

			30% {
				width: 0;
				height: 0;
				border-radius: 50%;
				border-width: 1em;
				transform: rotate(0deg);
				border-color: rgb(199, 218, 245);
			}

			50% {
				width: 2em;
				height: 2em;
				border-radius: 50%;
				border-width: 4px;
				border-color: rgb(199, 218, 245);
				border-right-color: rgb(89, 152, 239);
			}

			70% {
				border-width: 4px;
				border-color: rgb(199, 218, 245);
				border-right-color: rgb(89, 152, 239);
			}

			90% {
				border-width: 4px;
			}

			100% {
				width: 2em;
				height: 2em;
				border-radius: 50%;
				transform: rotate(720deg);
				border-color: transparent;
			}
		}

		::selection {
			background-color: transparent;
			color: teal;
		}

		::-moz-selection {
			background-color: transparent;
			color: teal;
		}
	}
}

/*--------------------- PAGE LUẬT SƯ MEDIA ---------------------------*/
.content-multimedia{
	.owl-nav.disabled{
		display: block;
	}
	.head-slide {
		.owl-dots {
			display: none;
	
		}
	
		.owl-nav {
			margin: 0;
		}
	
		button {
			outline: none !important;
	
			&.owl-next {
				position: absolute;
				right: -45px;
				top: 40%;
				width: 33px;
				padding: 10px 15px;
				height: 35px;
				background: transparent url(../images/next.svg) no-repeat center !important;
				border: 0; 
				span {
					display: none;
				}
			}
	
			&.owl-prev {
				position: absolute;
				left: -45px;
				top: 40%;
				width: 33px;
				padding: 10px 15px;
				height: 35px;
				background: transparent url(../images/prev.svg) no-repeat center !important;
				border: 0; 
				span {
					display: none;
				}
			}
		}
	
		.box-slide {
			border-radius: 4px;
			padding: 40px;
			border: 8px solid $brand-2;
		}
	
		.time-date {
			margin-bottom: 8px;
	
			span {
				color: #323232;
				opacity: 0.6;
				font-size: 13px;
			}
		}
	
		.content-infor {
			height: 100%;
			display: flex;
			align-items: center;
		}
	
	}
}


.slider-baoin .owl-carousel .owl-dot {
	margin-bottom: 10px;
	// opacity: .6;
}
.slider-baoin{
	// z-index: -1;
	// position: relative;
	.content-carousel{
		.owl-carousel{
			margin: 0 auto;
		}
	}
}

.slider-baoin .owl-carousel .owl-dot.active {
	border: 2px solid $brand-1;
	opacity: 1;
}

.tag-mutli-media {
	.tags-tt {
		span {
			color: $descreption;
			font-size: 14px;
		}
	}

	.share-post {
		a {
			margin-right: 0;

			img {
				width: 70px;
				height: 28px;
			}
		}
	}
}

.danhsach-video {
	iframe {
		width: 100%;
		height: 165px;
	}
}

/*------------------- PAGE BÁO IN --------------------*/
.bao-in {
	.bao-in-left {
		background: url(../images/contact-bg.png) no-repeat center top;
		background-size: cover;
		position: relative;
		z-index: 1;

		.bgcover {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: 0.7;
			z-index: -9999;
		}

		.time-date {
			padding-top: 50px;
			text-align: center;

			p {
				font-size: 24px;
				text-transform: uppercase;
				color: $brand-2;
				margin-bottom: 0;
				font-weight: 800;
			}

			span {
				color: #323232;
				opacity: 0.6;
				font-size: 16px;
			}
		}

		.img-baoin {
			a{
				position: relative;
				padding-top: 137%;
				display: block;
				img {
					padding: 30px 30px 73px 30px;
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 2px;
					object-fit: cover;
					object-position: center;
					left: 0;
					top: 0;
				}
			}
		}
	}

	.bao-in-right {
		.input-filter {
			input {
				height: 48px;
				border: 1px solid #ccc;
				padding: 5px 15px;
				font-size: 14px;

				&::placeholder {
					color: #aeadad;
				}
			}

			.button-submitform {
				button {
					width: 100%;
					height: 48px;
					background-color: $brand-1;
					border-color: unset;

					&:hover {
						background-color: $brand-2;
					}
				}
			}
		}

		.chi-tiet-baoin {
			margin-bottom: 30px;
			a{
				position: relative;
				padding-top: 133%;
				display: block;
				img {
					
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 2px;
					object-fit: cover;
					object-position: center;
					left: 0;
					top: 0;
				}
			}
			.time-date {
				text-align: center;
				margin-top: 10px;

				p {
					font-size: 14px;
					text-transform: uppercase;
					color: $brand-2;
					margin-bottom: 0;
					font-weight: 800;
				}

				span {
					color: #323232;
					opacity: 0.6;
					font-size: 13px;
				}
			}
		}
	}
}
.no-content-title{
	text-align: left;
	a{
		&::after{
			content: '' !important; 
		}
	}
}
.chi-tiet-baoin {
	margin-bottom: 25px;

	.time-date {
		text-align: center;
		margin-top: 10px;

		p {
			font-size: 14px;
			text-transform: uppercase;
			color: $brand-2;
			margin-bottom: 0;
			font-weight: 800;
		}

		span {
			color: #323232;
			opacity: 0.6;
			font-size: 13px;
		}
	}
}
/********** Srcollbar **********/


.scrollbar {
	width: 100%;
	margin: auto;
	overflow: hidden;
	// height: 380px;
	overflow-x: scroll;
	flex-wrap: unset;
}

.scrollbar:hover {
	overflow-x: auto;
}

#style-1::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
	border-radius: 50px;
}

#style-1::-webkit-scrollbar-track {
	background-color: #ececec;
	border-radius: 50px;
}

/********** End Srcollbar **********/

/*------------------- PAGE CHI TIẾT TỜ  BÁO IN --------------------*/
.slider-baoin {
	.content-carousel {
		// position: relative;
		width: 600px;
		display: block;
		margin: 0 auto;
	}

	.owl-carousel {
		width: calc(100% - 75px);
	}

	.owl-carousel div {
		width: 100%;
	}

	.owl-carousel .owl-controls .owl-dot {
		background-size: cover;
		margin-top: 10px;
	}

	.owl-carousel .owl-dots {
		position: absolute;
		top: 0;
		left: -75px;
		width: 70px;
	}

	.owl-carousel .owl-dot {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		opacity: .5;
	}

	.owl-dots {
		height: 100%;
		overflow: scroll;
	}

	.owl-nav.disabled {
		color: #fff;
		top: 10px;
		left: 10px;
		position: absolute;
		display: flex;
	}

	.owl-prev {
		text-align: center;
		background-color: #286eb3;
		width: 40px !important;
		border-radius: 4px;
		margin: 10px 5px;
		font-size: 0;
		color: #296db0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before{
			content: "\e64a";
			font-family: 'themify';
			display: block;
			font-size: 14px;
			color: white;
			padding: 8px 0;
		}
	}

	.owl-next {
		text-align: center;
		background-color: #286eb3;
		width: 40px !important;
		border-radius: 4px;
		margin: 10px 5px;
		font-size: 0;
		color: #296db0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before{
			content: "\e649";
			font-family: 'themify';
			display: block;
			font-size: 14px;
			color: white;
			padding: 8px 0;
		}
	}
	.owl-nav.disabled{
		color: #fff;
		top: 0;
		left: 10px;
		position: absolute;
		display: flex;
	}
}
/*---------------------------- gioi han text -----------------------------------*/

.title-news {
	// margin-bottom: 10px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.17);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;

	nav {
		padding: 0 !important;
	}

	.logo {
		img {
			height: 30px;
		}
	}
}
.old-cc{
	margin-top: 30px;
	h2{
		a{
		}
	}
	&.new-cc{
		.box-news {
			opacity: 1;
		}
	}
}
b.title-cc-detail{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: $brand-1;
	margin-top: 50px;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}
.cai-chinh-content{
	overflow: hidden;
}
.old-title-cc{
	position: relative;
	padding: 20px;
	margin: 0;
	margin-bottom: 30px;
	border: 1px solid $border;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	
	.box-news{
		opacity: .6;
	}
	img{
		margin-bottom: 20px;
	}
	h1{
		font-size: 32px;
	}
	.stamps-icon{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		align-items: center;
		display: flex;
		justify-content: center;
		img{
			width: 200px;
		}
	}
}
.content-index {
	.banner-padding {
		margin-bottom: 30px;
	}
	.tophead-left{
		padding-right: 15px;
		padding-left: 15px;
	}
}
.slider-baoin .content-carousel{
	width: 100%;
    display: block;
    margin: 0 auto;
}
.slider-baoin .owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    left: -211px;
    width: 200px;
}
.banner-head{

	.logo{
		padding: 0;
		a{
			position: relative;
			padding-top: 26px;
			padding-bottom: 26px;
			display: block;
			img{
				object-fit: cover;
				object-position: center;
			}
		}
}
}
.content-chitiet-danhmuc{
	.multi-media{
			.list-news{
					padding-left: 15px;
    			padding-right: 15px;
				
			}
		
	}
	.danh-sach-bai-viet{
		.item-news-right{
			.avatar-news{
				a{ padding-top: 58%; }
			}
		}
	}
}
.footer-copyright .box-copyright .social-footer {
    text-align: center;
    margin: 10px 0;
}
/*---------------------------- content-cai-chinh ---------------------------------*/
.content-danhsach-cai-chinh{
	.danhsach-caichinh{
		.img-chuacaichinh{
			display: flex;
			align-items: center;
			border-bottom: 1px dotted #ccc;
			padding: 20px 0;
			&:last-child{
				border-bottom: 0;
			}
			img{
				width: 24px;
				height: 24px;
				margin-right: 10px;
			}
			a{
				margin-bottom: 0;
				font-size: 18px;
				line-height: 32px;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
	}
}
.content-cai-chinh {
	.danhsach-caichinh{
		.box-caichinh{
			background: #FFFFFF;
			// box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
			// border-radius: 10px;
			// margin-bottom: 15px;
			// padding: 0 20px;
			// border: 2px solid $brand-2;
			ul{
				margin-bottom: 0;
				li{
					border-bottom: 1px dotted #ccc;
					padding: 15px 0;
					list-style: none;
					&:last-child {
						border-bottom: none;
					}
					.img-chuacaichinh{
						display: flex;
						align-items: center;
							img{
							width: 40px;
							margin-right: 10px;
							height: 40px;
						}
						p{
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
							overflow: hidden;
							line-height: 30px;
							margin-bottom: 0px;
							font-size: 18px;
						}
					}
				
						a{
							color: $brand-2;
							font-size: 16px;
							display: flex;
							align-items: center;
							margin-left: 50px;
							margin-top: 5px;
							&::after{
								content: "\e628";
								font-family: 'themify';
								font-size: 18px;
								color: $brand-2;
    							opacity: 0.6;
								margin-left: 8px;
							}
							&:hover {
								opacity: .7;
								
								
							}
							
						}
						
					
					
				}
				
				
			}
			
		}
	}
	.separator--dotted {
		background: url(../images/line_title.svg) repeat-x top;
		display: inline-block;
		width: 100%;
		height: 7px;
	}
}

.content-baivietcaichinh{
	
	.img-infographic{
		img{
			width: 100%;
		}
	}
}
.noidung-cai-chinh{
	line-height: 32px;
}
.content-index{
	.news-popular{
		// padding-top: 30px;
	}
}
.doc-bao-in .danh-muc-ques .prev:hover, .doc-bao-in .danh-muc-ques .next:hover {
    background-color: #296db0;
	color: #fff;
}
/*------------------- UPDATE CSS --------------------*/
.content-multimedia{
	.share-post {
		margin-bottom: 10px;
	}
}
.nghe-luat-su{
	.col-md-8{
		.box-news{
			.avatar-news{
				a{
                    position: relative;
                    padding-top: 60%;
                    display: block;
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 2px;
                        object-fit: cover;
                        object-position: center;
                        left: 0;
                        top: 0;
                    }
                }

			}
		}
	}
}
.box-img-banner.banner-fanpage{
	a{
		position: relative;
		padding-top: 50%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 2px;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}
.thu-vien-LS{
	.item-news-right{
		.avatar-news{
			a{
				position: relative;
				padding-top: 70%;
				display: block;
				img{
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 2px;
					object-fit: cover;
					object-position: center;
					left: 0;
					top: 0;
				}
			}

		}
	}
}
.btn-slide{
	position: absolute;
	text-align: center;
	bottom: 5px;
	left: 0;
	right: 0;
}
.banner-right{
	a{
		position: relative;
		padding-top: 70%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			// border-radius: 2px;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
}
.box-img-banner{
	a{
		position: relative;
		padding-top: 70%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			// border-radius: 2px;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
}
.doc-bao-in{
	.danh-muc-ques{
		.mySlides{
			a{
				position: relative;
				padding-top: 133%;
				display: block;
				img{
					position: absolute;
					width: 100%;
					height: 100%;
					// border-radius: 2px;
					object-fit: cover;
					object-position: center;
					left: 0;
					top: 0;
				}
			}
		}
	}
}
.pagination a {
    color: $text;
    float: left;
    padding:  8px 18px;
    text-decoration: none;
	margin: 0 5px;
  }
  .pagination a.active {
    background-color: $brand-2;
    color: white;
    border-radius:4px;
  }
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 4px;
  }
//   .no-sub a svg{
// 	margin-top: -5px;
//   }
//   .menu nav ul li ul{
// 	top: 39px;
//   }
.menu nav > ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    align-items: center;
}
.menu nav ul li {
    position: relative;
    list-style: none;
    padding: 0;
}
.menu nav ul li a{
	padding: 10px 20px;
	height: 45px;
}
// .content-tab-tintuc .tab-content{
// 	border-top: 0;
// }
.content-tab-tintuc .nav-tabs li a{
	display: inline-block;
    width: 100%;
}
.title-section .section-title-cate h2 a::after{
	padding-top: 2px;
}
/*---------------------------- RESPONSIVE ---------------------------------*/

/*------------------- @media 1201px --------------------*/
@media only screen and (max-width: 1201px) {
	.PL-doi-song{
		.col-md-8{
			.box-news{
				.avatar-news{
					a{
                    position: relative;
                    padding-top: 60%;
                    display: block;
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 2px;
                        object-fit: cover;
                        object-position: center;
                        left: 0;
                        top: 0;
                    }
                }
				}
				

			}
		}
	}
	.gioithieu-tapchiin{
		.col-md-7{
			.danh-sach-tapchiin{
				.chi-tiet-baoin{
					margin-bottom: 18px;
				}
			}
		}
	}
	.nghien-cuu-trao-doi{
		.col-md-8{
			.item-processes{
				a{
                    position: relative;
                    padding-top: 58%;
                    display: block;
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 2px;
                        object-fit: cover;
                        object-position: center;
                        left: 0;
                        top: 0;
                    }
                }

			}
		}
	}
	.slider-baoin {
		.content-carousel {
			width: 700px;
		}
	}
	.doc-bao-in .danh-muc-ques .next {
		right: 15px;
		border-radius: 50px;
	}
	.box-danhmuctapchi{
		max-height: 390px;
    	overflow: scroll;
		height: 100%;
	}
	.content-index{
		.nghe-luat-su{
			.col-md-4{
				.item-news-right{
					margin-bottom: 10px;
					.col-md-5{
						.avatar-news{
							a{
								position: relative;
								padding-top: 70%;
								display: block;
							}
						}
					}
				}
			}
		}
		.thu-vien-LS{
			.danh-muc-ques{
				.item-news-right{
					.avatar-news{
						a{
							padding-top: 70%;
						}
					}
				}
			}
		}
		.nghien-cuu-trao-doi{
			.col-md-8{
				.item-processes{
					display: inline-block;
					width: 100%;
					position: relative;
					margin-bottom: 30px;
					a{
						// position: relative;
						// padding-top: 78%;
						display: block;
						img{
							position: absolute;
						
							height: 100%;
							border-radius: 2px;
							object-fit: cover;
							object-position: center;
							left: 0;
							top: 0;
							border-radius: 2px;
							max-width: 100%;
							width: 100%;
						}
					}
				}
			}
			.col-md-4{
				.item-news-right{
					.col-md-5{
						.avatar-news{
							a{
								padding-top: 70%;
							}
						}
					}
					.col-md-7{
						.infor-news{
							margin-top: 0;
						}
					}
				}
			}
		}
	}
	.content-danhsach-cai-chinh{
		padding-top: 50px;
	}
	header{
		position: fixed;
	}
	.container {
		max-width: 1000px;
	}
	// .content-index{
	// 	.news-popular{
	// 		padding-top: 60px;
	// 	}
	// }
	.tophead{
		padding-left: 15px !important;
	}
	.banner-head {
		margin-top: 41px;
		position: relative;
	}
	.tophead-left{
		position: absolute;
		z-index: 9;
		top: 200px;
	}
	.content-index{
		.col-md-3{
			margin-top: 30px;
		}
		.col-md-9{
			margin-top: 30px;
		}
	}
	.box-search-PC{
		margin: initial !important;
		// width: initial !important;
	}
	.tophead-right, header .menu{
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
		position: fixed;
		top: 0;
		left: 0;
		background: none;
		height: 60px;
		z-index: 9;
		// width: 100%;
	}
	.tophead{
		background: white;
	}
	header {
		display: inline-block;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.tophead-right{
		position: fixed;
		right: 0;
		padding-right: 15px;
		background: white !important;
		top: 0;
		z-index: 99;
		justify-content: space-around  !important;
		width: initial !important;
		margin: initial !important;
		.link-top2{
			margin-right: 15px;
		}
	}
	.tophead{
		padding-left: 0 !important;
	}
	.tophead {
		padding-left: 35px;

		.box-tophead {
			display: block;

		}
	}


	.logo {
		text-align: center;

		img {

			padding: 5px;
		}
	}

	.menu {
		position: absolute;
		// width: 100%;
		left: 0;
		background: white;
		top: 0;
		z-index: 0;

		nav {
			display: none;

			ul {
				box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.15);
				// padding-bottom: 80px;

				li {
					position: relative;
					
					i {
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 40px;
						height: 40px;
						text-align: center;
						right: 0;
						padding-top: 14px;
						top: 5px;

						&.ti-minus {
							display: none !important;
						}

						&.ti-plus {
							display: block !important;
						}
					}

					&.active {
						i {
							&.ti-minus {
								display: block !important;
							}

							&.ti-plus {
								display: none !important;
							}
						}
					}

					&.active {
						ul {
							display: inline-block !important;
						}
					}

				}

			}
		}

		&.active {
			nav {
				display: inline-block !important;
			}

			.mobile-menu {
				i {
					&.ti-align-left {
						display: none !important;
					}

					&.ti-close {
						display: block !important;
					}
				}
			}
		}
	}

	.mobile-menu {
		display: block;
		position: absolute;
		left: 15px !important;
		top: 8px;

		i {
			font-size: 20px;
			color: $text;
			position: absolute;
			top: 15px;
			left: 0;

			&.ti-close {
				display: none !important;
			}
		}

		&.active {
			i {
				&.ti-align-left {
					display: inline-block !important;
				}
			}
		}
	}

	.menu nav ul>li>a {
		width: initial !important;
	}

	.menu nav ul>li>a::before {
		display: none !important;
	}

	.menu nav>ul>li.no-sub::after {
		display: none !important;
	}

	.menu nav ul li ul li a {
		width: 100% !important;
	}

	.menu {
		nav {
			position: absolute;
			height: 100vh;
			width: 100%;
			background: white;
			// padding: 60px 0px 30px 0px;
			left: 0;
			top: 0;

			ul {
				width: 100%;
				background: white;
				margin-bottom: 0;

				&:first-child {
					padding-top: 60px;
				}

				li {
					width: 100%;

					a {
						padding: 0 10px !important;
					}

					ul {
						position: relative;
						width: 100%;
						box-shadow: none;
						top: 10px;
						padding-bottom: 0;

						li {
							background: none;

							a {
								padding: 10px 25px !important;
							}
						}
					}

					&.active {
						background: $brand-2;

						ul {
							display: inline-block !important;
							background: none;
							padding-bottom: 10px;
							li {
								background: none;
							}
						}
					}
				}
			}
		}
	}

	.menu nav>ul,
	.menu nav>ul>li,
	.menu nav>ul>li>a {
		display: inline-block !important;
		width: 100%;
	}

	.menu nav>ul>li>a {
		text-transform: uppercase;
	}

	.menu nav>ul>li {
		border-bottom: 1px solid $border;
		
	}
	.content-cai-chinh{
		.col-md-3{
			padding-top: 50px;
		}
		
	}
	.breadcrumb-box {
		// padding-top: 50px;

		.breadcrumb {
			padding-top: 5px;
		}
	}

	.tophead {
		.box-tophead {
			justify-content: space-around;
		}
	}

	.box-search-mb {
		display: none;
	}

	.menu {
		z-index: 12;

		nav {
			height: 100%;

			ul {
				.no-sub {
					padding: 0;

					svg {
						fill: $text;
					}
				}

				.no-sub.active {
					background-color: #fff;

					&:hover.active {
						background-color: $brand-2;
						fill: $text;
						padding: 0;
					}

					svg {

						margin: 6px 10px;

						&:hover {

							fill: $text;
						}
					}

				}

				li {
					a {
						color: $text;
						margin: 0;
						line-height: 45px;

					}

					&:hover a,
					i {
						color: #fff;
					}

					&.active {
						a {
							color: #fff;

						}

						i {
							color: #fff;
						}
					}

					ul {

						background-color: $brand-2;

						li {
							padding: 0;
							background: none;
							color: $text;

							&:hover a {
								color: $text;
							}

							a {
								padding: 0 30px !important;
							}
						}
					}
				}
			}
		}
	}

	.slide-news {
		.owl-prev {
			left: 0 !important;
			top: 20% !important;
		}

		.owl-next {
			right: 40px !important;
			top: 20% !important;
		}

		.item {
			margin-right: 40px;
		}
	}

	.footer-copyright {
		.box-copyright {
			.col-md-5 {
				p {
					line-height: 20px;
				}
			}
		}
	}
	.menu{
		// width: 100%;
		nav{
			ul{
				width: 300px;
				// height: 100vh;
			}
		}
	}
	.content-tab-tintuc{
		.nav-tabs{
			li{
				a{
					font-size: 16px;
				}
			}
		} 
	} 
	.menu nav ul .no-sub{
		padding: 12px 0 6px 0;
	}
	
}

/*--------------- @media 950px --------------*/
@media only screen and (max-width: 950px) {

	.col-md-12,
	.col-md-11,
	.col-md-10,
	.col-md-9,
	.col-md-8,
	.col-md-7,
	.col-md-6,
	.col-md-5,
	.col-md-4,
	.col-md-3,
	.col-md-2,
	.col-md-1 {
		-ms-flex: 0 0 100% !important;
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
	.tro-giup-PL{
		.col-md-4{
			.box-news {
				.avatar-news{
					max-width: 35% !important;
				}
			}
		}
	}
	.nhin-ra-TG{
		.col-md-4{
			.box-news {
				.avatar-news{
					max-width: 35% !important;
				}
			}
		}
	}
	.content-index .thu-vien-LS .danh-muc-ques .item-news-right .avatar-news a {
    padding-top: 56%;
}
	.content-index .nghien-cuu-trao-doi .col-md-4 .item-news-right .col-md-5 .avatar-news a {
		padding-top: 56%;
	}
	.content-index .nghe-luat-su .col-md-4 .item-news-right .col-md-5 .avatar-news a {
		position: relative;
		padding-top: 56%;
		display: block;
	}
	.link-footer{
		margin: 20px 0;
	}
	.gioithieu-tapchiin{
		.danh-sach-tapchiin{
			.col-md-4{
				max-width: 50% !important;
			}
		}
	}
	.box-danhmuctapchi {
		max-height: 350px;
		overflow: scroll;
		height: 100%;
		margin-bottom: 25px;
	}
	.infor-contactus{
		width: 50%;
    	margin: 0 auto;
	}
	.tophead-left {
		position: absolute;
		z-index: 9;
		top: 187px;
	}
	.tophead-left{
		max-width: 800px;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		margin-top: 0;
	}
	.menu{
		// width: 100%;
		nav{
			ul{
				width: 300px;
			}
		}
	}
	.content-index {
		.banner-padding {
			margin-bottom: 20px;
		}
	}

	.menu {
		nav {
			ul {
				padding-bottom: 0;
			}
		}
	}

	body {
		max-width: 800px !important;
		margin: 0 auto;


	}

	.container {
		max-width: 800px;
		padding-left: 0;
		padding-right: 0;
	}

	.logo {
		img {
			width: 300px;
			height: auto;
			padding: 0;
		}
	}

	.news-popular {
		padding-top: 20px !important;

		.box-news {
			margin-bottom: 10px;

			.avatar-news {}

			.infor-news {
				.cate-name {
					h6 {
						font-size: 13px;
					}
				}
			}

			.content-title-news {
				.title-news.lager {
					a {
						font-size: 22px;
						line-height: 32px;
					}

				}


			}

		}

		.col-md-4 {
			.box-news {
				display: flex;
				margin-bottom: 20px;
				margin-top: 0;

				.avatar-news {
					padding-right: 15px;
					width: 50%;
				}

				.content-title-news {
					.title-news {
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;

					}
				}
			}
		}
	}

	.tophead {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	.tophead {
		padding-left: 15px !important;
	}
	.breadcrumb-box {
		padding-top: 50px;
		margin-bottom: 10px;
	}
	.content-tab-tintuc .nav-tabs li a {
		font-size: 20px;
	}
	.danhsach-caichinh{
		margin-bottom: 0;
	}
	.menu nav ul .no-sub{
		padding: 12px 0 6px 0;
	}
	
	.nghe-luat-su {
		padding-top: 20px;

		.item-news-right {
			.col-md-7 {
				padding-left: 15px;

				.content-infor {
					margin-top: 10px;
				}
			}
		}


	}

	.nghe-luat-su {
		.content-title-news {
			.title-news.lager {
				a {
					font-size: 22px;
					line-height: 32px;
				}

			}
		}

		.box-news {
			.title-news {
				line-height: 32px;
				margin-top: 0;
			}
		}

		.col-md-4 {
			.item-news-right {
				.col-md-5 {
					flex: 0 0 100% !important;
					max-width: 35% !important;
				}

				.col-md-7 {
					padding-left: 0;
					flex: 0 0 100% !important;
					max-width: 60% !important;

					.content-infor {
						margin-top: 0;

						.infor-news {
							margin-top: 0;

							.title-news {
								display: -webkit-box;
								-webkit-line-clamp: 3;
								-webkit-box-orient: vertical;
								overflow: hidden;
							}
						}
					}
				}
			}
		}
	}

	.tro-giup-PL {
		padding-top: 20px;

		.box-news {
			margin-bottom: 20px;

		}

		.col-md-4 {
			.box-news {
				display: flex;
				margin-bottom: 20px;
				margin-top: 0;

				.avatar-news {
					padding-right: 15px;
					// width: 50%;
				}

				.content-title-news {
					.title-news {
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;

					}
				}
			}
		}
	}
	.padding-box{
		padding-top: 0;
	}
	.nghien-cuu-trao-doi {
		// padding-top: 20px;

		.item-processes {
			margin-bottom: 30px;

			.infor-processes {
				h5 {
					font-size: 22px;
					line-height: 32px;
					bottom: 0;
					padding: 35px 20px 0 20px;

				}
			}
		}

		.box-news {
			margin-bottom: 15px;
		}
		.col-md-4 {
			.item-news-right {
				margin-bottom: 15px;
				.col-md-5 {
					flex: 0 0 100% !important;
					max-width: 35% !important;
				}

				.col-md-7 {
					padding-left: 0;
					flex: 0 0 100% !important;
					max-width: 60% !important;

					.content-infor {
						margin-top: 0;

						.infor-news {
							margin-top: 0;

							.title-news {
								display: -webkit-box;
								-webkit-line-clamp: 3;
								-webkit-box-orient: vertical;
								overflow: hidden;
							}
						}
					}
				}
			}
		}

		.col-md-4 {
			.box-news {
				display: flex;
				margin-bottom: 20px;
				;

				.avatar-news {
					padding-right: 15px;
					width: 50%;
				}

				.infor-news {
					margin-top: 0;
				}

				.content-title-news {
					.title-news {
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;

					}
				}
			}
		}
	}

	.banner-padding {
		padding: 20px 0 0 0;
	}

	.banner-right {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.PL-doi-song {
		padding-top: 10px;

		.col-md-4 {
			margin-top: 20px;
		}

		.title-news.lager {
			a {
				font-size: 22px;
				line-height: 32px;
			}
		}

		.title-news {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

	}
.gioithieu-tapchiin{
	.slider-service{
		margin-bottom: 20px;
	}
}
	.nhin-ra-TG,
	.multi-media {
		// padding-top: 25px;

		.box-news {
			margin-bottom: 20px;
		}
	}

	.nhin-ra-TG {
		.box-news {
			margin-bottom: 20px;

		}

		.col-md-4 {
			.box-news {
				display: flex;
				margin-bottom: 20px;
				margin-top: 0;

				.avatar-news {
					padding-right: 15px;
					// width: 50%;
				}

				.infor-news {
					margin-top: 0;
				}

				.content-title-news {
					.title-news {
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;

					}
				}
			}
		}
	}

	.goc-nhin {
		padding-top: 20px;
	}

	.thu-vien-LS {
		padding-top: 40px;

		.item-news-right {
			.col-md-5 {
				flex: 0 0 100% !important;
				max-width: 35% !important;
			}

			.col-md-7 {
				padding-left: 0;
				flex: 0 0 100% !important;
				max-width: 60% !important;

				.content-infor {
					margin-top: 0;

					.infor-news {
						margin-top: 0;

						.title-news {
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
				}
			}
		}
	}

	.doc-bao-in {
		padding-top: 40px;
		
	}

	.multi-media {
		.box-news {
			margin-bottom: 10px;

			.avatar-news {}

			.infor-news {
				.cate-name {
					h6 {
						font-size: 13px;
					}
				}
			}

			.content-title-news {
				.title-news.lager {
					a {
						font-size: 22px;
						line-height: 32px;
					}

				}


			}

		}

		.col-md-4 {
			.box-news {
				display: flex;
				margin-bottom: 20px;
				margin-top: 0;

				.avatar-news {
					padding-right: 15px;
					width: 50%;
				}

				.infor-news {
					margin-top: 0;
				}

				.content-title-news {
					.title-news {
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;

					}
				}
			}
		}
	}

	.ykien-bandoc {
		.binh-luan-tt {
			margin: 0;

			.ds-binh-luan {
				.mo-ta {
					padding-right: 0;
				}
			}
		}
	}

	.cac-tin-khac {
		padding-top: 40px;
		margin-bottom: 20px;
	}

	.content-chitietbaiviet {
		.noidung-baiviet {
			.content-title-news {
				h1 {
					font-size: 28px;
					line-height: 40px;
				}
			}

			.time-date-comment {
				margin-top: 0;
			}

			.share-post.chitiet-baiviet {
				margin-bottom: 30px;
			}
		}
	}

	.box-img-banner {
		img {
			width: 100%;
		}
	}

	.traodoi-ykien {
		padding-top: 20px;
	}

	.content-tab-tintuc {
		padding-top: 0;
	}

	.content-chitietbaiviet {

		.banner-right {
			margin-top: 30px;
		}
	}

	.tin-tuc-tu-van {
		.item-news-right {
			.content-infor {
				.infor-news {
					a {
						p {
							color: #66605c !important;
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
							overflow: hidden;
							line-height: 24px;
						}
					}
				}
			}
		}
	}

	.bao-in {
		padding-top: 20px;

		.bao-in-right {
			.input-filter {
				margin-top: 50px;

				.col-md-2,
				.col-md-4 {
					padding-left: 15px !important;
					padding-right: 15px !important;
				}
			}

			.chi-tiet-baoin {

				// margin-bottom: 30px;
				img {
					width: 100%;
				}
			}
		}

		.danh-sach-bao {
			.col-md-4 {
				-ms-flex: 0 0 100% !important;
				flex: 0 0 100% !important;
				max-width: 50% !important;

				.chi-tiet-baoin {
					margin-bottom: 30px;
				}
			}
		}

		.separator--dotted {
			margin-top: 50px;
		}
	}

	.slider-baoin {
		padding-top: 20px;

		.owl-carousel {
			width: calc(100% - 0px);

			.owl-item {
				width: 600px;
			}

			.owl-dots {
				left: 10px;
				width: 100px;
			}

			.owl-nav.disabled {
				left: 120px;
			}
		}

	}

	.content-chitiet-danhmuc {
		.danh-sach-bai-viet {

			.item-news-right {
				.col-md-5 {
					flex: 0 0 100% !important;
					max-width: 50% !important;
				}

				.col-md-7 {
					padding-left: 0;
					flex: 0 0 100% !important;
					max-width: 50% !important;

					.content-infor {
						margin-top: 0;

						.infor-news {
							margin-top: 0;

							.title-news {
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
							}

							a {
								p {
									display: -webkit-box;
									-webkit-line-clamp: 3;
									-webkit-box-orient: vertical;
									overflow: hidden;
								}

							}
						}
					}
				}
			}

		}

		.content-tab-tintuc {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.tin-tuc-tu-van {
		.danh-sach-bai-viet {

			.item-news-right {
				.col-md-4 {
					flex: 0 0 100% !important;
					max-width: 50% !important;
				}

				.col-md-8 {
					padding-left: 0;
					flex: 0 0 100% !important;
					max-width: 50% !important;

					.content-infor {
						margin-top: 0;

						.infor-news {
							margin-top: 0;

							.title-news {
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
							}

							a {
								p {
									display: -webkit-box;
									-webkit-line-clamp: 3;
									-webkit-box-orient: vertical;
									overflow: hidden;
								}

							}
						}
					}
				}
			}

		}
	}

	.contact-section {
		.form-contact {
			padding: 30px;

			.title-section {
				h2 {
					font-size: 32px;
				}
			}
		}
	}

	footer {
		padding: 30px 20px;

		.col-md-4 {
			flex: 0 0 100% !important;
			max-width: 50% !important;
		}

		.col-md-6 {
			flex: 0 0 100% !important;
			max-width: 50% !important;
		}
	}

	.footer-copyright {
		.box-copyright {
			display: block;
			text-align: center;
		}
	}

	.content-danhmuc {
		.multi-media {
			.box-news {
				margin-bottom: 10px;

				.avatar-news {}

				.infor-news {
					.cate-name {
						h6 {
							font-size: 13px;
						}
					}
				}

				.content-title-news {
					.title-news.lager {
						a {
							font-size: 22px;
							line-height: 32px;
						}

					}


				}

			}

			.col-md-6.danhmuc {
				.box-news {
					display: flex;
					margin-bottom: 20px;
					margin-top: 0;

					.avatar-news {
						padding-right: 15px;
						width: 50%;
					}

					.infor-news {
						margin-top: 0;
					}

					.content-title-news {
						.title-news {
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
							overflow: hidden;

						}
					}
				}
			}
		}
	}

	.tophead{
		padding-left: 15px !important;
	}
	.banner-head {
		margin-top: 41px;
	}
	.box-search-PC{
		margin: initial !important;
		// width: initial !important;
	}
	.tophead-right, header .menu{
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
		position: fixed;
		top: 0;
		left: 0;
		background: none;
		height: 60px;
		z-index: 9;
		// width: 100%;
	}
	.tophead{
		background: white;
	}
	header {
		display: inline-block;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.tophead-right{
		position: fixed;
		right: 0;
		padding-right: 15px;
		background: white !important;
		top: 0;
		z-index: 99;
		justify-content: right;
		width: initial !important;
		margin: initial !important;
		.link-top2{
			margin-right: 15px;
		}
	}
	.tophead{
		padding-left: 0 !important;
	}
	.tophead {
		padding-left: 35px;

		.box-tophead {
			display: block;

			// .tophead-left {
			// 	position: absolute;
			// 	z-index: 2;
			// 	top: 191px;
			// 	width: 100%;
			// 	padding: 0 15px;
			// 	display: inline-block;
			// 	padding-left: 80px;
			// 	margin-top: 15px;
			// 	.link-top1 {
			// 		padding-right: 0;
			// 		margin-left: 0;
			// 		position: absolute;
			// 		left: 15px;
			// 		height: 100%;
			// 		display: flex;
			// 		align-items: center;

			// 		a {
			// 			top: 74px;
			// 			position: initial;
			// 			text-align: center;
			// 			left: 50px;
			// 		}
			// 	}

			// 	p {
			// 		display: -webkit-box;
			// 		-webkit-line-clamp: 2;
			// 		-webkit-box-orient: vertical;
			// 		overflow: hidden;
			// 		margin-left: 0;
			// 		text-align: left;
			// 		position: relative;
			// 		margin: 0 0 0 5px;

			// 	}
			// }
		}
	}
	// .tophead .box-tophead .tophead-left {
	// 	display: flex !important;
	// 	height: 50px !important;
	// }
	// .avatar-news{
	// 	margin-top: 15px;
	// }
	.menu {
		nav {
			ul {
				padding-bottom: 0;
			}
		}
	}
	.tophead{
		padding-left: 0 !important;
	}
	.tophead {
		padding-left: 35px;

		.box-tophead {
			display: block;

			// .tophead-left {
			// 	position: absolute;
			// 	z-index: 2;
			// 	top: 200px;
			// 	width: 100%;
			// 	padding: 0 15px;
			// 	display: inline-block;
			// 	padding-left: 80px;
			// 	margin-top: 15px;
			// 	.link-top1 {
			// 		padding-right: 0;
			// 		margin-left: 0;
			// 		position: absolute;
			// 		left: 15px;
			// 		height: 100%;
			// 		display: flex;
			// 		align-items: center;

			// 		a {
			// 			top: 74px;
			// 			position: initial;
			// 			text-align: center;
			// 			left: 50px;
			// 		}
			// 	}

			// 	p {
			// 		display: -webkit-box;
			// 		-webkit-line-clamp: 1;
			// 		-webkit-box-orient: vertical;
			// 		overflow: hidden;
			// 		margin-left: 0;
			// 		text-align: left;
			// 		position: relative;
			// 		margin: 0 0 0 5px;
			// 		width: 500px;

			// 	}
			// }
		}
	}
	
	// .tophead .box-tophead .tophead-left {
	// 	display: flex !important;
	// 	height: 30px !important;
	// 	width: initial;
	// }
	
}

/*--------------- @media 767px --------------*/
@media only screen and (max-width: 767px) {
	.old-cc.new-cc{
		margin-bottom: 50px;
	}
	.baoin-khac{
		.col-md-3{
			flex: 0 0 100% !important;
    		max-width: 50% !important;
		}
	}
	.content-carousel{
		iframe{
			width: 100% !important;
		}
	}
	.slider-baoin .content-carousel {
		width: 100%;
		iframe{
			width: 100%;
		}
	}
	.old-title-cc{
		margin-bottom: 0 !important;
	}
	.cai-chinh-content {
		overflow: hidden;
		margin-top: 50px;
	}
	body {
		max-width: 100% !important;
		margin: 0 auto;

	}
	.title-section .section-title-cate h2 a::after {
		font-size: 16px;
		content: "\e649";
		font-family: "themify";
		position: absolute;
		margin-left: 12px;
		background: url(../images/line.svg) no-repeat;
		background-size: contain;
		display: inline-block;
		width: 100%;
		height: 44px;
		bottom: -2px;
	}
	.noidung-baiviet {
		margin-top: 10px;
	}
	.breadcrumb{
		align-items: center;
	}
	.tophead-left .xuhuong p {
		font-size: 14px;
	}
	.multi-media{
		.avatar-news {
			width: 100%;
		}
	}
	.PL-doi-song{
		.avatar-news {
			width: 100%;
		}
	}
	.nghe-luat-su{
		.avatar-news {
			width: 100%;
		}
	}
	// .avatar-news {
	// 	width: 50%;
	// }
	.infor-contactus {
		width: 100%;
		margin: 0 auto;
	}
	.traodoi-ykien {
		padding-top: 0; 
	}
	.content-tab-tintuc {
		padding-top: 0;
	}
	.social-footer {
		text-align: center;
		margin: 10px 0;
		
	}
	.tophead-right { 
		justify-content: flex-end !important;
		padding-right: 5px !important;
	}
	.tophead{
		padding-left: 15px !important;
	}
	.banner-head {
		margin-top: 41px;
	}
	.box-search-PC{
		margin: initial !important;
		width: 50% !important;
	}
	.tophead-right, header .menu{
		position: fixed;
		top: 0;
		left: 0;
		background: none;
		height: 60px;
		z-index: 9;
		// width: 100%;
	}
	.tophead{
		background: white;
	}
	header {
		display: inline-block;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.tophead-right{
		justify-content: space-around !important;
		position: fixed;
		right: 0;
		padding-right: 15px;
		background: white !important;
		top: 0;
		z-index: 99;
		// justify-content: right;
		width: initial !important;
		margin: initial !important;
		.link-top2{
			margin-right: 15px;
		}
	}
	.tophead{
		padding-left: 0 !important;
	}
	.tophead {
		padding-left: 35px;

		.box-tophead {
			display: block;

			// .tophead-left {
			// 	position: absolute;
			// 	z-index: 2;
			// 	top: 191px;
			// 	width: 100%;
			// 	padding: 0 15px;
			// 	display: inline-block;
			// 	padding-left: 80px;
			// 	margin-top: 15px;
			// 	.link-top1 {
			// 		padding-right: 0;
			// 		margin-left: 0;
			// 		position: absolute;
			// 		left: 15px;
			// 		height: 100%;
			// 		display: flex;
			// 		align-items: center;

			// 		a {
			// 			top: 74px;
			// 			position: initial;
			// 			text-align: center;
			// 			left: 50px;
			// 		}
			// 	}

			// 	p {
			// 		display: -webkit-box;
			// 		-webkit-line-clamp: 2;
			// 		-webkit-box-orient: vertical;
			// 		overflow: hidden;
			// 		margin-left: 0;
			// 		text-align: left;
			// 		position: relative;
			// 		margin: 0 0 0 5px;

			// 	}
			// }
		}
	}
	// .tophead .box-tophead .tophead-left {
	// 	display: flex !important;
	// 	height: 50px !important;
	// }
	// .breadcrumb-box {
	// 	padding-top: 35px;
	// }
	.container {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.content-title-news {

		.title-news {
			a {
				font-size: 16px;
				line-height: 24px;
			}

		}


	}

	.content-index {
		.news-popular {
			.col-md-8 {
				.box-news {
					.infor-news {
						.cate-name {
							h6 {
								font-size: 12px;
							}
						}

						.content-title-news {
							.title-news.lager {
								a {
									font-size: 18px;
									line-height: 26px;
								}
							}
						}
					}
				}
			}

			.col-md-4 {
				.box-news {
					display: flex;
					// align-items: center;

					.avatar-news {
						// width: 100%;
						height: 100%;

						a {
							height: 100%;
						}
					}

					.infor-news {
						.content-title-news {
							.title-news {
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
								margin-bottom: 0;

							}
						}

					}
				}
			}
		}

		.nghien-cuu-trao-doi {
			.item-processes {
				.infor-processes {
					h5 {
						font-size: 18px;
						line-height: 28px;
						padding: 50px 20px 0 20px;
					}
				}
			}

			.col-md-4 {
				.box-news {
					display: flex;
					// align-items: center;

					.avatar-news {
						width: 50%;
						height: 100%;

						a {
							height: 100%;
						}
					}

					.infor-news {
						.content-title-news {
							.title-news {
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
								margin-bottom: 0;

							}
						}

					}

				}
			}
		}

		.nghe-luat-su {
			.content-title-news {
				.title-news.lager {
					a {
						font-size: 18px;
						line-height: 26px;
					}
				}

			}

			.col-md-4 {
				.item-news-right {

					margin-bottom: 15px;

					.row {
						// align-items: center;

						.col-md-5 {
							padding-left: 0;
							flex: 0 0 100% !important;
							// max-width: 50% !important;
						}

						.col-md-7 {
							padding-left: 0;
							flex: 0 0 100% !important;
							max-width: 50% !important;

							.infor-news {
								margin-top: 0;

								.content-title-news {
									h3 {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}

		.banner-padding {
			.box-img {
				margin-bottom: 20px;
			}
		}

		.PL-doi-song {
			.content-title-news {
				.title-news.lager {
					a {
						font-size: 18px;
						line-height: 26px;
					}
				}

			}
		}

		.multi-media {
			.content-title-news {
				.title-news.lager {
					a {
						font-size: 18px;
						line-height: 26px;
					}
				}

			}

			.col-md-4 {
				.box-news {
					display: flex;
					// align-items: center;

					.avatar-news {
						// width: 100%;
						height: 100%;

						a {
							height: 100%;
						}
					}

					.infor-news {
						.content-title-news {
							.title-news {
								display: -webkit-box;
								-webkit-line-clamp: 3;
								-webkit-box-orient: vertical;
								overflow: hidden;
								margin-bottom: 0;

							}
						}

					}
				}
			}
		}

		.tro-giup-PL,
		.nhin-ra-TG {
			.box-news {
				// align-items: center;

				.infor-news {
					margin-top: 0;

					.content-title-news {
						h3 {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.thu-vien-LS {
			.danh-muc-ques {
				.item-news-right {
					padding-bottom: 15px;

					.row {
						// align-items: center;
						margin-right: 0;
						margin-left: 0;

						.col-md-5 {
							padding-left: 0;
							flex: 0 0 100% !important;
							max-width: 35% !important;
						}

						.col-md-7 {
							padding-left: 0;
							flex: 0 0 100% !important;
							max-width: 50% !important;

							.infor-news {
								margin-top: 0;

								.content-title-news {
									h3 {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}

			}

		}

	}

	.content-danhmuc {
		.multi-media {
			.box-news {
				.content-title-news {

					.title-news.lager {
						a {
							font-size: 18px;
							line-height: 26px;
						}
					}
				}
			}

			.col-md-6.danhmuc {
				.box-news {
					// align-items: center;

					.avatar-news {
						width: 60%;
					}

					.infor-news {
						.content-title-news {
							.title-news {
								margin-bottom: 0;
							}

							.title-news.lager {
								a {
									font-size: 18px;
									line-height: 26px;
								}
							}
						}
					}
				}
			}
		}

		.nghe-luat-su {
			.infor-news {
				.content-title-news {
					.title-news {
						margin-bottom: 0;
					}

					.title-news.lager {
						a {
							font-size: 18px;
							line-height: 26px;
						}
					}
				}
			}

			.col-md-4 {
				.item-news-right {

					margin-bottom: 15px;

					.row {
						// align-items: center;

						.col-md-5 {
							padding-left: 0;
							flex: 0 0 100% !important;
							max-width: 40% !important;
						}

						.col-md-7 {
							padding-left: 0;
							flex: 0 0 100% !important;
							max-width: 60% !important;

							.infor-news {
								margin-top: 0;

								.content-title-news {
									h3 {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}

		}

		.content-tab-tintuc {
			// padding-top: 30px;

			.nav-tabs {
				li {
					a {
						font-size: 18px;
					}
				}
			}

			.tab-content {
				.contents-tintuc {
					.list-content {
						.list-tab {
							a {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}

	.content-chitiet-danhmuc {
		.multi-media {
			.box-news {
				.content-title-news {

					.title-news.lager {
						a {
							font-size: 18px;
							line-height: 26px;
						}
					}
				}
			}

			.col-md-4 {
				.box-news {
					// align-items: center;

					.avatar-news {
						width: 60%;
					}

					.infor-news {
						.content-title-news {
							.title-news {
								margin-bottom: 0;
							}

							.title-news.lager {
								a {
									font-size: 18px;
									line-height: 26px;
								}
							}
						}
					}
				}
			}
		}

		.danh-sach-bai-viet {
			padding-top: 10px;

			.item-news-right {
				margin-bottom: 0;

				.col-md-5 {
					flex: 0 0 100% !important;
					max-width: 100% !important;
				}

				.col-md-7 {
					padding-left: 15px;
					flex: 0 0 100% !important;
					max-width: 100% !important;

					.content-title-news {
						.title-news {
							margin-top: 10px;

							a {
								font-size: 18px;
								line-height: 26px;
							}
						}
					}

				}
			}
		}

		.banner-right {
			padding-top: 0;
			padding-bottom: 30px;
		}

		.content-tab-tintuc {
			padding-top: 10px;

			.nav-tabs {
				li {
					a {
						font-size: 18px;
					}
				}
			}

			.tab-content {
				.contents-tintuc {
					.list-content {
						.list-tab {
							a {
								font-size: 16px;
							}
						}
					}
				}
			}
		}


	}

	.content-chitietbaiviet {
		.cac-tin-khac {
			ul {
				li {
					a {
						font-size: 16px;
						line-height: 28px;
					}
				}
			}
		}

		.content-tab-tintuc {
			padding-top: 10px;

			.nav-tabs {
				li {
					a {
						font-size: 18px;
					}
				}
			}

			.tab-content {
				.contents-tintuc {
					.list-content {
						.list-tab {
							a {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
		// .noidung-baiviet{
		// 	.time-date-comment{
		// 		display: inline-block;
		// 		.btn-baonoi{
		// 			margin-left: 0;
		// 			margin-top: 20px;
		// 		}
		// 	}
		// }
	}

	.content-inforgraphic {
		.noidung-baiviet {
			margin-top: 20px;

			.content-title-news {
				h1 {
					font-size: 20px;
					line-height: 30px;
				}
			}
		}
	}

	.content-tuvan {
		.tin-tuc-tu-van {
			.danh-sach-bai-viet {
				padding-top: 30px;

				.item-news-right {
					margin-bottom: 20px;

					.col-md-4 {
						flex: 0 0 100% !important;
						max-width: 100% !important;
					}

					.col-md-8 {
						padding-left: 15px;
						flex: 0 0 100% !important;
						max-width: 100% !important;

						.content-title-news {
							.title-news {
								margin-top: 10px;

								a {
									font-size: 18px;
									line-height: 26px;
								}
							}
						}

					}
				}
			}
		}
	}
	// .avatar-news{
	// 	margin-top: 15px;
	// }
	.menu {
		nav {
			ul {
				padding-bottom: 0;
			}
		}
	}
	.tophead{
		padding-left: 0 !important;
	}
	.tophead {
		padding-left: 35px;

		.box-tophead {
			display: block;

			// .tophead-left {
			// 	background: none!important;
			// 	position: absolute;
			// 	z-index: 2;
			// 	top: 200px;
			// 	width: 100%;
			// 	padding: 0 15px;
			// 	display: inline-block;
			// 	padding-left: 95px;
			// 	margin-top: 15px;
			// 	margin-bottom: 15px;
			// 	.link-top1 {
			// 		padding-right: 0;
			// 		margin-left: 0;
			// 		position: absolute;
			// 		left: 15px;
			// 		height: 100%;
			// 		display: flex;
			// 		align-items: center;

			// 		a {
			// 			top: 74px;
			// 			position: initial;
			// 			text-align: center;
			// 			left: 50px;
			// 		}
			// 	}

			// 	p {
			// 		display: -webkit-box;
			// 		-webkit-line-clamp: 2;
			// 		-webkit-box-orient: vertical;
			// 		overflow: hidden;
			// 		margin-left: 0;
			// 		text-align: left;
			// 		position: relative;
			// 		margin: 0 0 0 5px;

			// 	}
			// }
		}
	}
	
	// .tophead .box-tophead .tophead-left {
	// 	display: flex !important;
	// 	height: 35px !important;
	// 	justify-content: left;
	// }
	// .breadcrumb-box {
	// 	padding-top: 48px;
	// }
	.title-section {
		.section-title-cate {
			
			h2 {
				line-height: 24px;

				a {
					font-size: 18px;
				}
			}
		}
	}

	.breadcrumb-box {
		.breadcrumb {
			.breadcrumb-item {
				a {
					font-size: 13px;
				}
			}

			.breadcrumb-item.active {
				font-size: 13px;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
	}

	.content-chitietbaiviet {
		.banner-right {
			margin-bottom: 20px;
		}

		.content-tab-tintuc {
			.nav-tabs {
				li {
					a {
						font-size: 18px;
					}
				}
			}
		}

		.ykien-bandoc {
			.ds-binh-luan {
				.tuongtac {
					p {
						margin-right: 10px;
					}
				}
			}
		}

		.noidung-baiviet {
			.content-title-news {
				h1 {
					font-size: 20px;
					line-height: 30px;
				}
			}
		}
	}

	footer {
		padding: 30px 20px;

		.col-md-4 {
			flex: 0 0 100% !important;
			max-width: 100% !important;

		}

		.col-md-6 {
			flex: 0 0 100% !important;
			max-width: 100% !important;

			.link-footer {
				margin: 20px 0;

				p {
					line-height: 24px;

					i {
						line-height: 24px;
					}
				}
			}
		}
	}

	.footer-copyright {
		.box-copyright {
			display: block;
			text-align: center;

			.col-md-5 {
				padding-left: 15px;
			}
		}
	}
	.contact-section {
		.form-contact {
			padding: 30px;

			.title-section {
				h2 {
					font-size: 24px;
					
				}
				p{
					font-size: 14px;
				}
			}
		}
	}
}
@media only screen and (max-width: 500px){
	.nghe-luat-su .col-md-4 .item-news-right .col-md-7 .content-infor .infor-news .title-news {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.tro-giup-PL .col-md-4 .box-news .content-title-news .title-news {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.nhin-ra-TG .col-md-4 .box-news .content-title-news .title-news {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.content-index .multi-media .col-md-4 .box-news .infor-news .content-title-news .title-news {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-bottom: 0;
	}
	.thu-vien-LS .item-news-right .col-md-7 .content-infor .infor-news .title-news {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.tophead-right {
		justify-content: flex-end !important;
		padding-right: 23px !important;
	}
	.danhsach-caichinh{
		margin-bottom: 0;
	}
	.content-index{
		margin-top: 20px;
	}
	.breadcrumb-box {
		padding-top: 70px;
		
	}
	.bao-in {
		padding-top: 0;
	}
	.content-chitietbaiviet {
	
		.noidung-baiviet{
			.time-date-comment{
				display: inline-block;
				.btn-baonoi{
					margin-left: 0;
					margin-top: 20px;
				}
			}
		}
	}
	.gioithieu-tapchiin .danh-sach-tapchiin .time-date p {
		font-size: 14px;
	}
	.gioithieu-tapchiin .danh-sach-tapchiin .time-date span {
		
		font-size: 14px;
	}
}
@media only screen and (max-width: 400px){
	.gioithieu-tapchiin .box-danhsachtapchi .danhsachtapchi .time-date {
		display: initial;
    	text-align: center;
	}
	.gioithieu-tapchiin .danh-sach-tapchiin .time-date p {
		font-size: 14px;
	}
	.gioithieu-tapchiin .danh-sach-tapchiin .time-date span {
		
		font-size: 14px;
	}
}
